@model List<DataLayer.Entities.ShopProduct>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@using DataLayer.DTO.ShopOrderStatus
@{
    ViewData["Title"] = "لیست سفارشات";
    var userInfo = ViewBag.UserInfo as DataLayer.Entities.Users.Users;
    var order = ViewBag.Order as ShopOrder;
    var address = ViewBag.UserAddress as UserAddress;
    var shopOrderStatuses = ViewBag.shopOrderStatuses as List<ShopOrderStatusDTO>;
    var unit = ViewBag.Unit as List<ProductUnit>;
}

<style>
    ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type none;
    }

        ol.progtrckr li {
            display: inline-block;
            text-align: center;
            line-height: 3.5em;
        }

        ol.progtrckr[data-progtrckr-steps="2"] li {
            width: 49%;
        }

        ol.progtrckr[data-progtrckr-steps="3"] li {
            width: 33%;
        }

        ol.progtrckr[data-progtrckr-steps="4"] li {
            width: 24%;
        }

        ol.progtrckr[data-progtrckr-steps="5"] li {
            width: 19%;
        }

        ol.progtrckr[data-progtrckr-steps="6"] li {
            width: 16%;
        }

        ol.progtrckr[data-progtrckr-steps="7"] li {
            width: 14%;
        }

        ol.progtrckr[data-progtrckr-steps="8"] li {
            width: 12%;
        }

        ol.progtrckr[data-progtrckr-steps="9"] li {
            width: 11%;
        }

        ol.progtrckr li.progtrckr-done {
            color: black;
            border-bottom: 4px solid yellowgreen;
        }

        ol.progtrckr li.progtrckr-todo {
            color: silver;
            border-bottom: 4px solid silver;
        }

        ol.progtrckr li:after {
            content: "\00a0\00a0";
        }

        ol.progtrckr li:before {
            position: relative;
            bottom: -2.5em;
            float: left;
            left: 50%;
            line-height: 1em;
        }

        ol.progtrckr li.progtrckr-done:before {
            content: "\2713";
            color: white;
            background-color: yellowgreen;
            height: 2.2em;
            width: 2.2em;
            line-height: 2.2em;
            border: none;
            border-radius: 2.2em;
        }

        ol.progtrckr li.progtrckr-todo:before {
            content: "\039F";
            color: silver;
            background-color: white;
            font-size: 2.2em;
            bottom: -1.2em;
        }

    /*#printBtn {
        position: fixed;
        bottom: 50px;
        left: 50px;
        color: red;
        font-size: 42px;
        z-index: 10;
        background: white;
        opacity: 0.8;
        cursor: pointer;
    }*/

    #divPrint {
        position: fixed;
        top: 100px;
        left: 40px;
        z-index: 100;
        cursor: pointer;
        background: white;
    }
</style>

<div id="divPrint">
    <a href="#" onclick="window.print()" class="print-link pull-right text-danger" style="margin-left:30px"><i class="fa fa-print fa-3x"></i></a>
    <a href="#" onclick="generatePDF('pdfMake')" class="print-link pull-right text-danger"><i class="fa fa-file-pdf-o fa-3x"></i></a>
</div>
@*<span id="printBtn" onclick="window.print()">
        <i class="fa fa-print"></i>
    </span>*@


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" style="margin-top:40px">
    <div class="container">
        <fieldset class="margin-bottom-30">
            <legend>روند وضعیت</legend>
            @*@foreach (ShopOrderStatusDTO item in shopOrderStatuses)
                {
                    <div class="clo-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="col-2">
                            @switch (item.Status)
                            {
                                case DataLayer.SSOT.ShopOrderStatusSSOT.Nothing:
                                    break;
                                case DataLayer.SSOT.ShopOrderStatusSSOT.Ordered:
                                    <span>ثبت سفارش</span>
                                    break;
                                case DataLayer.SSOT.ShopOrderStatusSSOT.Preparation:
                                    <span>آماده سازی</span>
                                    break;
                                case DataLayer.SSOT.ShopOrderStatusSSOT.Loading:
                                    <span>بارگیری</span>
                                    break;
                                case DataLayer.SSOT.ShopOrderStatusSSOT.transmission:
                                    <span>ارسال</span>
                                    break;
                                case DataLayer.SSOT.ShopOrderStatusSSOT.Delivery:
                                    <span>تحویل</span>
                                    break;
                            }
                        </div>
                        <div class="col-2">
                            @item.Date.ToShortPersianDateString()
                        </div>
                    </div>
                }*@
            <div class="col-12">
                <ol class="progtrckr" data-progtrckr-steps="5">


                    <li class="@(shopOrderStatuses.Any(x=> x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Ordered) ? "progtrckr-done" : "progtrckr-todo") " style="padding-right:3%">
                        ثبت سفارش
                        @if (shopOrderStatuses.Any(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Ordered))
                        {
                            @shopOrderStatuses.SingleOrDefault(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Ordered).Date.ToShortPersianDateString()
                        }
                    </li>

                    <li class="@(shopOrderStatuses.Any(x=> x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Preparation) ? "progtrckr-done" : "progtrckr-todo") " style="padding-right:3%">
                        آماده سازی
                        @if (shopOrderStatuses.Any(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Preparation))
                        {
                            @shopOrderStatuses.SingleOrDefault(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Preparation).Date.ToShortPersianDateString()
                        }
                    </li>


                    <li class="@(shopOrderStatuses.Any(x=> x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Loading) ? "progtrckr-done" : "progtrckr-todo") " style="padding-right:3%">
                        بارگیری
                        @if (shopOrderStatuses.Any(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Loading))
                        {
                            @shopOrderStatuses.SingleOrDefault(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Loading).Date.ToShortPersianDateString()
                        }
                    </li>

                    <li class="@(shopOrderStatuses.Any(x=> x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.transmission) ? "progtrckr-done" : "progtrckr-todo") " style="padding-right:3%">
                        ارسال
                        @if (shopOrderStatuses.Any(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.transmission))
                        {
                            @shopOrderStatuses.SingleOrDefault(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.transmission).Date.ToShortPersianDateString()
                        }
                    </li>

                    <li class="@(shopOrderStatuses.Any(x=> x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Delivery) ? "progtrckr-done" : "progtrckr-todo") " style="padding-right:3%">
                        تحویل
                        @if (shopOrderStatuses.Any(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Delivery))
                        {
                            @shopOrderStatuses.SingleOrDefault(x => x.Status == DataLayer.SSOT.ShopOrderStatusSSOT.Delivery).Date.ToShortPersianDateString()
                        }
                    </li>

                </ol>
            </div>
        </fieldset>
    </div>
</div>


<div id="pdfMake">

    @if (order.IsSuccessed)
    {
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="container">
                <fieldset class="margin-bottom-30">
                    <legend>اطلاعات فاکتور</legend>

                    <div class="container ">
                        <div class="row">
                            <div class="col-12 text-center margin-bottom-10">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                    <label class="col-12 control-label">نام نام خانوادگی</label>
                                    <div class="col-12">@userInfo.FirstName @userInfo.LastName</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                    <label class="col-12 control-label">شماره تماس</label>
                                    <div class="col-12">@userInfo.PhoneNumber</div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                    <label class="col-12 control-label">تاریخ ثبت فاکتور</label>
                                    <div class="col-12">@order.CreateDate.Value.ToPersianDateTextify()</div>
                                </div>
                            </div>
                            <div class="col-12 text-center ">
                                <div class=" control-label col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">آدرس:</div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom-1 padding-15"> @address.Address</div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                    <label class="col-12 control-label">تاریخ خرید</label>
                                    <div class="col-12">@order.SuccessDate.Value.ToPersianDateTextify()</div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                    <label class="col-12 control-label">مبلغ فاکتور</label>
                                    <div class="col-12">@order.Amount.ToPersianPrice()</div>
                                </div>

                            </div>
                        </div>
                    </div>



                </fieldset>
            </div>
        </div>
    }


    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" style="margin-top:20px">
        <div class="container">



            <fieldset>
                <legend>جزئیات فاکتور</legend>
                <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">عنوان کالا</th>
                            <th scope="col">تعداد کالا</th>
                            <th scope="col">واحد کالا</th>
                            <th scope="col">قیمت اصلی کالا</th>
                            <th scope="col">قیمت با تخفیف</th>
                            <th scope="col">قیمت کل</th>
                            <th scope="col">مشاهده</th>
                        </tr>

                    </thead>
                    <tbody>
                        @{var index = 1;}
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>

                                    <td class="order-code">@(index++)</td>
                                    <td>@(item.OrderName ?? item.Product.Title) </td>
                                    <td>@item.Count </td>
                                    <td>@(item.Product.ProductUnitId != null ? unit.FirstOrDefault(a => a.Id == item.Product.ProductUnitId).Name : "واحدی ثبت نشده")</td>
                                    <td>@(item.OrderPrice ?? item.Product.Price.ToPersianPrice())</td>
                                    <td>@(item.OrderPriceDiscount ?? item.Product.PriceWithDiscount.ToPersianPrice())</td>
                                    <td>
                                        @if (item.OrderPriceDiscount != null)
                                        {
                                            var price = item.OrderPriceDiscount.Replace(",", "");

                                            <span>@((long.Parse(price) * item.Count).ToPersianPrice()) </span>
                                        }
                                        else
                                        {
                                            <span>@((item.Product.PriceWithDiscount * item.Count).ToPersianPrice())</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ProductId != null)
                                        {
                                            <a target="_blank" href="http://liftbazar.ir/Product/ProductDetail/@item.ProductId">
                                                <i class="fa fa-eye" aria-hidden="true"></i>

                                            </a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="http://liftbazar.ir/Product/PackageDetail/@item.PackageId">
                                                <i class="fa fa-eye" aria-hidden="true"></i>

                                            </a>
                                        }
                                    </td>
                                </tr>

                            }
                        }
                        <tr>
                            <td colspan="2">هزینه باربری :</td>
                            <td colspan="6">@((order.TransferProductPrice??0).ToPersianPrice()) تومان</td>
                        </tr>
                        <tr>
                            <td colspan="2">جمع کل :</td>
                            <td colspan="6">@order.Amount.ToPersianPrice() تومان</td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>
        </div>

    </div>

</div>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" style="margin-top:20px">
    <div class="container">
        @if (!order.IsOnlinePay)
        {
            <div class="alert alert-warning">
                <p style="color:rebeccapurple">بعد از اینکه کاربر پرداخت به صورت حظوری را انجام داد شما باید از طریق دکمه زیر فاکتور کاربر را بروزرسانی کنید</p>
            </div>
            <form action="/Orders/ManageOrders/SetOfflinePayment" method="post">
                <input type="hidden" name="orderId" value="@order.Id" />
                <button type="submit" class="btn btn-success btn-block"> ثبت پرداخت</button>
            </form>
        }
        <table class="table table-hover table-striped">

            <tfoot>

                <a class="btn btn-danger btn-block" asp-action="Index"> بازگشت</a>
            </tfoot>
        </table>
    </div>
</div>
