@model List<DataLayer.Entities.ShopProduct>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@using DataLayer.DTO.ShopOrderStatus
@{
    ViewData["Title"] = "لیست سفارشات";
    var userInfo = ViewBag.UserInfo as DataLayer.Entities.Users.Users;
    var order = ViewBag.Order as ShopOrder;
    var address = ViewBag.UserAddress as UserAddress;
    var shopOrderStatuses = ViewBag.shopOrderStatuses as List<ShopOrderStatusDTO>;

}


@if (order.IsSuccessed)
{
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="container">
            <fieldset class="margin-bottom-30">
                <legend>اطلاعات فاکتور</legend>

                <div class="container ">
                    <div class="row">
                        <div class="col-12 text-center margin-bottom-10">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                <label class="col-12 control-label">نام نام خانوادگی</label>
                                <div class="col-12">@userInfo.FirstName @userInfo.LastName</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                <label class="col-12 control-label">شماره تماس</label>
                                <div class="col-12">@userInfo.PhoneNumber</div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                <label class="col-12 control-label">تاریخ ثبت فاکتور</label>
                                <div class="col-12">@order.CreateDate.Value.ToPersianDateTextify()</div>
                            </div>
                        </div>
                        <div class="col-12 text-center ">
                            <div class=" control-label col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">آدرس:</div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom-1 padding-15"> @address.Address</div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                <label class="col-12 control-label">تاریخ خرید</label>
                                <div class="col-12">@order.SuccessDate.Value.ToPersianDateTextify()</div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom-1 padding-15">
                                <label class="col-12 control-label">مبلغ فاکتور</label>
                                <div class="col-12">@order.Amount.ToPersianPrice()</div>
                            </div>

                        </div>
                    </div>
                </div>



            </fieldset>
        </div>
    </div>
}


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="container">
        <fieldset class="margin-bottom-30">
            <legend>روند وضعیت</legend>
            @foreach (ShopOrderStatusDTO item in shopOrderStatuses)
            {
                <div class="clo-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="col-2">
                        @switch (item.Status)
                        {
                            case DataLayer.SSOT.ShopOrderStatusSSOT.Nothing:
                                break;
                            case DataLayer.SSOT.ShopOrderStatusSSOT.Ordered:
                                <span>ثبت سفارش</span>
                                break;
                            case DataLayer.SSOT.ShopOrderStatusSSOT.Preparation:
                                <span>آماده سازی</span>
                                break;
                            case DataLayer.SSOT.ShopOrderStatusSSOT.Loading:
                                <span>بارگیری</span>
                                break;
                            case DataLayer.SSOT.ShopOrderStatusSSOT.transmission:
                                <span>ارسال</span>
                                break;
                            case DataLayer.SSOT.ShopOrderStatusSSOT.Delivery:
                                <span>تحویل</span>
                                break;
                        }
                    </div>
                    <div class="col-2">
                        @item.Date.ToShortPersianDateString()
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" style="margin-top:20px">
    <div class="container">
        <fieldset>
            <legend>جزئیات فاکتور</legend>
            <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">عنوان کالا</th>
                        <th scope="col">قیمت اصلی کالا</th>
                        <th scope="col">قیمت با تخفیف</th>
                        <th scope="col">مشاهده</th>
                    </tr>
                    <tr>
                        <form method="get" name="searchForm">
                            <th>
                                ---
                                @*<input  type="checkbox" data-toggle="tooltip" title="انتخاب همه" data-role="confirm">*@

                            </th>
                            <th>
                                ---
                                @*<input type="text" value="@ViewBag.SearchModel.Id" name="Id" class="form-control searchInput" />*@
                            </th>
                            <th> --- </th>


                            <th>
                                ----
                            </th>
                            <th>
                                ----
                            </th>

                            <input type="submit" class="form-control hidden btn btn-success btn-block searchBtn" value="جستجو" />
                        </form>
                    </tr>
                </thead>
            </table>
            <div class="bodycontainer scrollable ">
                <table class="table-second table table-hover table-striped table-condensed table-bordered table-scrollable">
                    <tbody>



                        @{var index = 1;}
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>

                                    <td class="order-code">@(index++)</td>
                                    <td>@(item.OrderName ?? item.Product.Title) </td>
                                    <td>@(item.OrderPrice ?? item.Product.Price.ToPersianPrice())</td>
                                    <td>@(item.OrderPriceDiscount ?? item.Product.PriceWithDiscount.ToPersianPrice())</td>
                                    <td>
                                        @if (item.ProductId != null)
                                        {
                                            <a target="_blank" href="http://liftbazar.ir/Product/ProductDetail/@item.Id">
                                                <i class="fa fa-eye" aria-hidden="true"></i>

                                            </a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="http://liftbazar.ir/Product/PackageDetail/@item.Id">
                                                <i class="fa fa-eye" aria-hidden="true"></i>

                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <table class="table table-hover table-striped">
                <tfoot>
                    <a class="btn btn-danger btn-block" asp-action="Index"> بازگشت</a>
                </tfoot>
            </table>
        </fieldset>
    </div>

</div>

