@using DataLayer.DTO.Products
@model List<ProductFullDTO>

@using DNTPersianUtils.Core


<div class="product-slider new-best-featured-slider slider-navigation-2">
    @foreach (var item in Model)
    {
        <div class="product-slider-col">
            <!-- Single Product -->
            <article class="hoproduct">
                <div class="hoproduct-image">
                    <a class="hoproduct-thumb" href="product-details.html"> 
                        @*<img src="~/images/Custom Size1.png" />*@
                        <img class="hoproduct-frontimage" src="http://localhost:49772/@item.IndexPic" alt="@item.Title">
                        <img class="hoproduct-backimage" src="http://localhost:49772/@item.IndexPic" alt="@item.Title">
                    </a>
                    <ul class="hoproduct-actionbox">
                        <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                        <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                        <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                    </ul>
                    <ul class="hoproduct-flags">
                        <li class="flag-pack">جدید</li>
                        <li class="flag-discount">

                            -15%

                        </li>
                    </ul>
                </div>
                <div class="hoproduct-content">
                    <h5 class="hoproduct-title"><a href="product-details.html">@item.Title</a></h5>
                    <div class="hoproduct-rattingbox">
                        <div class="rattingbox">
                            <span class="active"><i class="ion ion-ios-star"></i></span>
                            <span class="active"><i class="ion ion-ios-star"></i></span>
                            <span class="active"><i class="ion ion-ios-star"></i></span>
                            <span class="active"><i class="ion ion-ios-star"></i></span>
                            <span class="active"><i class="ion ion-ios-star"></i></span>
                        </div>
                    </div>
                    <div class="hoproduct-pricebox">
                        <div class="pricebox">
                            <del class="oldprice">@item.Price</del>
                            <span class="price">@item.Price</span>
                        </div>
                    </div>
                </div>
            </article>
            <!--// Single Product -->
        </div>
    }

</div>

