@model List<DataLayer.Entities.ShopProduct>
@{
    ViewData["Title"] = "Index";
}
<style>
    th {
        text-align: center !important
    }
</style>

<main class="page-content">

    <!-- Shopping Cart Area -->
    <div class="cart-page-area ptb-30 bg-white">
        <div class="container">

            @if (!Model.Any())
            {
                <div class="alert alert-warning">
                    <p> سبد خرید شما خالی می باشد</p>
                </div>

            }
            else
            {
                <!-- Cart Products -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="cart-column-image" scope="col">عکس</th>
                                <th class="cart-column-productname" scope="col">محصول</th>
                                <th class="cart-column-price" scope="col">قیمت</th>
                                <th class="cart-column-price" scope="col">قیمت باتخفیف</th>
                                <th class="cart-column-remove" scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.ProductId != null)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.ProductId" class="product-image">
                                                <img onerror="imgError(this);" src="@ViewBag.Url/@item.Product.IndexPic" alt="product image">
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.ProductId" class="product-title">@item?.Product?.Title</a>
                                        </td>
                                        <td>@item.Product.Price</td>
                                        <td data-Priceid="@item?.ProductId"></td>

                                        <td>
                                            <a asp-action="RemoveCart" asp-route-id="@item.Id" class="remove-product"><i class="ion ion-ios-close"></i></a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <a href="product-details-right-sidebar.html" class="product-image">
                                                <img src="~/no-image.jpg" alt="product image">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="product-details-right-sidebar.html" class="product-title">کالای فروشی هالتیکو</a>
                                        </td>
                                        <td>2,000,000 تومان</td>
                                        <td>
                                            <div class="quantity-select">
                                                <input type="text" value="1">
                                                <div class="inc qtybutton">+<i class="ion ion-ios-arrow-up"></i></div>
                                                <div class="dec qtybutton">-<i class="ion ion-ios-arrow-down"></i></div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="total-price">2,000,000 تومان</span>
                                        </td>
                                        <td>
                                            <button class="remove-product"><i class="ion ion-ios-close"></i></button>
                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
                <!--// Cart Products -->
                <!-- Cart Content -->
                <div class="cart-content">
                    <div class="row justify-content-between">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="cart-content-left">

                                <div class="cart-content-coupon">
                                    <h6>کد تخفیف</h6>
                                    <p>اگر کد تخفیفی دارید در اینجا وارد کنید.</p>
                                    <form action="#" class="coupon-form">
                                        <input type="text" placeholder="کد">
                                        <button class="ho-button">
                                            <span>اعمال تحفیف</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="cart-content-right">
                                <h2>جمع سبد</h2>
                                <table class="cart-pricing-table">
                                    <tbody>
                                        <tr class="cart-total">
                                            <th>جمع کل</th>
                                            <td id="ResultPriceCart"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="ho-button">
                                    <span>تسویه حساب</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Cart Content -->

            }

        </div>
    </div>
    <!--// Shopping Cart Area -->
    <!--// Newsletter Area -->

</main>
    
<script>
    $(function() {
        var prices = $('[data-Priceid]');

        $.each(prices,
            function(index, key) {
                var id = $(key).attr('data-Priceid');
                
                $.get("@Url.Action("CalculatePrice","Product")",
                    { productId: id },
                    function(result) {
                        $(key).html(result);
                    });
            });

    });

    $(function() {
        $.get("@Url.Action("CalculateCart","ShopProduct")",
            function(result) {
                $('#ResultPriceCart').html(result);
            });
    });

</script>