@using Service.Repos
@using DataLayer.Entities
@using Service.Repos.Product
@using DataLayer.ViewModels.Products

@inject SiteSettingRepository _siteSettingRepository
@inject ProductGroupRepository _productGroupRepository
@{

    SiteSetting siteSetting = await _siteSettingRepository.GetInfo();
    ProductSearchListViewModel vm = ViewBag.Search;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="description" content="لیفت بازارفروشگاه اینترنتی لوازم و تجهیزات آسانسور،فروش آسانسور با بهترین قیمت وکیفیت در لیفت بازار .فروش انواع موتور،تابلو فرمان، درب،کابین،ریل و لوازم راه‌اندازی،با امکان تعویض و مرجوعی آسان،پرداخت در محل برای خرید کلیک کنید!" />
    <meta name="keywords" content="لیفت بازار،آسانسور،کابین آسانسور،موتور آسانسور، لیفت، بازار، لوازام آسانسور، تجهیزات آسانسور، سیم بکسل آسانسور، سیم بکسل، لوازم، چاله آسانسور، درب، موتور، ریل و لوازم ریل، کابین، تبلو فرمان">
    <meta name="author" content="لیفت بازار">
    <title>فروشگاه اینترنتی آسانسور لیفت بازار</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="shortcut icon" href="@(string.IsNullOrEmpty(siteSetting.TabIcon) ? "staffonly.ir/Uploads/SiteSetting/TabIcon.jpeg"  : Url.Content(ViewBag.Url+"/" + siteSetting.TabIcon))">

    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/responsive.css">


    <!-- file js---------------------------------------------------->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="~/js/vendor/owl.carousel.min.js"></script>
    <script src="~/js/vendor/jquery.countdown.js"></script>
    <script src="~/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/js/vendor/jquery.nice-select.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="~/js/main.js"></script>

</head>
<body>
    <!-- header-------------------------------->
    <header class="header-main">
        <div class="container-main">
            <div>
                <section class="h-main-row">
                    <div class="col-lg-10 col-md-10 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row">
                                    <a href="/">
                                        <img src="@( string.IsNullOrEmpty(siteSetting.Logo) ? "http://staffonly.ir/Uploads/SiteSetting/Logo.png" : Url.Content("http://staffonly.ir/" + siteSetting.Logo))" title="LiftBazar, لیفت بازار" alt="LiftBazar, لیفت بازار" asp-append-version="true" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9 pl">
                                <div class="header-search row text-right">
                                    <div class="header-search-box">
                                        <form action="/Product/Index" class="form-search">
                                            <input type="search" value="@(vm != null ? vm.Title : "")" class="header-search-input" name="Title" placeholder="جستجو کنید…">
                                            <div class="action-btns">
                                                <button class="btn btn-search" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="search-filter">
                                                    <div class="form-ui">
                                                        <div class="custom-select-ui">
                                                            <select class="right" name="Group">
                                                                <option value="-1">همه دسته ها</option>
                                                                @foreach (var item in await _productGroupRepository.GetParentsAsync())
                                                                {
                                                                    if (vm != null)
                                                                    {
                                                                        if (vm.Group == item.Id)
                                                                        {
                                                                            <option value="@item.Id" selected>@item.Title</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.Id">@item.Title</option>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Id">@item.Title</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 pl">
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        <div class="nav-account d-block pl">

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <span class="icon-account">
                                                    <img src="~/images/man.png" class="avator">
                                                </span>
                                                <span class="title-account">@(string.IsNullOrWhiteSpace(User.Identity.FindFirstValue("FullName")) ? "حساب کاربری" : User.Identity.FindFirstValue("FullName") )</span>
                                                <div class="dropdown-menu">
                                                    <ul class="account-uls mb-0">
                                                        <li class="account-item">
                                                            <a href="/Profile/Index" class="account-link">پنل کاربری</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="/Profile/Orders" class="account-link">سفارشات من</a>
                                                        </li>

                                                        <li class="account-item">
                                                            <a href="/Account/Logout" class="account-link">خروج</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <a href="/Account/Login">
                                                    <span class="icon-account">
                                                        <img src="~/images/man.png" class="avator">
                                                    </span>
                                                    <span class="title-account">حساب کاربری</span>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <nav class="header-main-nav d-block">
                        <div class="d-block">
                            <div class="align-items-center">
                                <ul class="menu-ul mega-menu-level-one">
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/" class="current-link-menu category-link">
                                            صفحه اصلی
                                        </a>
                                    </li>
                                    @*<li id="nav-menu-item" class="menu-item">
                                            <a href="#" class="current-link-menu category-link">
                                                آرشیو محصولات
                                            </a>
                                        </li>*@
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Blog/Index" class="current-link-menu category-link">
                                            خبرنامه
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Home/About" class="current-link-menu category-link">
                                            درباره ما
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Home/Contact" class="current-link-menu category-link">
                                            تماس با ما
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="/Tree/Index" class="current-link-menu category-link">
                                            <i class="fa fa-tree colorgreen" aria-hidden="true"></i>
                                            درخت کاری
                                        </a>
                                    </li>
                                    <div class="divider-space-card d-block">
                                        @await Component.InvokeAsync("ShopProductVC")
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>



                <!--    responsive-megamenu-mobile----------------->
                @await Component.InvokeAsync("MobileMenuCV")
                <div class="nav-btn nav-slider">
                    <span class="linee1"></span>
                    <span class="linee2"></span>
                    <span class="linee3"></span>
                </div>
                <div class="overlay"></div>
                <!--    responsive-megamenu-mobile----------------->
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- footer------------------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-paper-plane"></i>
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-volume-control-phone"></i>
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        @*<div class="item">
                                <span class="icon-shopping">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="title-shopping">پرداخت در محل</span>
                                <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                            </div>*@
                        @*<div class="item">
                                <span class="icon-shopping">
                                    <i class="fa fa-repeat"></i>
                                </span>
                                <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                                <span class="desc-shopping">هفت روز مهلت دارید </span>
                            </div>*@
                        <div class="item">
                            <span class="icon-shopping">
                                <i class="fa fa-shield"></i>
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-5 col-md-5 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    اطلاعات تماس
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تهران محله مهرآباد جنوبی، خیابان دانشگاه هوایی جنوبی، خیابان تفرش غربی، پلاک ۱۸۲، طبقه ۲، واحد ۲
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شماره تماس: ۰۹۱۲۲۰۱۳۴۴۳
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        تلفن: ۰۲۱۶۶۶۳۷۲۷۳
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        آدرس ایمیل: info@liftbazar.ir
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    دسته‌بندی محصولات
                                                </a>
                                            </div>
                                            @await Component.InvokeAsync("ParentGroupsVC")

                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    خدمات مشتریان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="/Account/Login">حساب کاربری من</a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="/FAQ/Index">پرسش‌های متداول</a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="/Suggestions/Insert">شکایات و پیشنهادات</a>
                                                </li>

                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-block pl text-center">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title"> ما را در شبکه های اجتماعی دنبال کنید</span>
                                        <div class="input-group-newsletter row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><a target="_blank" href="@siteSetting.InstaURL"><i class="fa fa-instagram font-size-70 color000"></i></a></div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><a target="_blank" href="@siteSetting.WhatsAppURL"><i class="fa fa-whatsapp font-size-70 color000"></i></a></div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                        <div class="footer-more-info">
                            <div class="col-lg-10 pr">
                                <div class="footer-content d-block">
                                    <div class="text pr-1">
                                        <h2 class="title">فروشگاه اینترنتی لیفت بازار</h2>
                                        <p class="desc">لیفت بازارفروشگاه اینترنتی لوازم و تجهیزات آسانسور،فروش آسانسور با بهترین قیمت وکیفیت در لیفت بازار .فروش انواع موتور،تابلو فرمان، درب،کابین،ریل و لوازم راه‌اندازی،با امکان تعویض و مرجوعی آسان،پرداخت در محل برای خرید کلیک کنید</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 pl">
                                <div class="footer-safety-partner">
                                    <div class="widget widget-product card mb-0">
                                        <div class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                    <div class="owl-item active" style="width: 300.75px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="https://trustseal.enamad.ir/?id=133301&Code=DBp3De0YjpUXz80FVDHw" class="d-block hover-img-link">
                                                                <img src="/enamad-logo-600x332.jpg" class="img-fluid img-brand" alt="اینماد لیفت بازار">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    @*<div class="owl-item active" style="width: 300.75px; margin-left: 10px;">
                                                            <div class="item">
                                                                <a href="#" class="d-block hover-img-link mt-0">
                                                                    <img src="~/images/footer/license/L-2.png" class="img-fluid img-brand" alt="">
                                                                </a>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>استفاده از مطالب فروشگاه اینترنتی لیفت‌بازار فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به لیفت‌بازار می‌باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->
    <script src="~/lib/html2pdf.js-master/dist/html2pdf.bundle.min.js"></script>

    <script>
        function generatePDF(id) {
            // Choose the element that our invoice is rendered in.
            const element = document.getElementById(id);
            // Choose the element and save the PDF for our user.
            html2pdf()
                .from(element)
                .save();
        }
    </script>
</body>

</html>