<div class="col-lg-3 col-md-3 col-xs-12 pr">
    <div class="sidebar-profile sidebar-navigation">
        <section class="profile-box">
            <header class="profile-box-header-inline">
                <div class="profile-avatar user-avatar profile-img">
                    <img src="/@User.Identity.FindFirstValue("UserProfile")">
                </div>
            </header>
            <footer class="profile-box-content-footer">
                <span class="profile-box-nameuser">@User.Identity.FindFirstValue("FullName")</span>
                <span class="profile-box-registery-date"></span>
                <span class="profile-box-phone">شماره همراه :  @Model.PhoneNumber</span>
                <div class="profile-box-tabs">
                    <a href="/Account/Logout" class="profile-box-tab-sign-out"><i class="mdi mdi-logout-variant"></i>خروج از حساب</a>
                </div>
            </footer>
        </section>
        <section class="profile-box">
            <ul class="profile-account-navs">
                <li class="profile-account-nav-item navigation-link-dashboard">
                    <a asp-action="Index" class="@(ViewBag.SidebarActive == ProfileSidebarSSOT.Profile?"active":"")">
                        <i class="mdi mdi-account-outline"></i>
                        پروفایل
                    </a>
                </li>
                <li class="profile-account-nav-item navigation-link-dashboard">
                    <a asp-action="Orders" class="@(ViewBag.SidebarActive == ProfileSidebarSSOT.Orders?"active":"")">
                        <i class="mdi mdi-cart"></i>
                        همه سفارش ها
                    </a>
                </li>
                @*<li class="profile-account-nav-item navigation-link-dashboard">
                    <a asp-action="Favorite" class="@(ViewBag.SidebarActive == ProfileSidebarSSOT.Favorite?"active":"")">
                        <i class="mdi mdi-tooltip-text-outline"></i>
                        علاقه مندی هاُ
                    </a>
                </li>*@
            </ul>
        </section>
    </div>
</div>