@model List<DataLayer.DTO.Products.ProductPackageFullDTO>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "لیست پکیج ها";
    var groups = ViewBag.Groups as List<ProductGroup>;
    var search = ViewBag.SearchModel as ProductSearchViewModel;
}

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 btn-table">

    <TableBotton area="ProductPackage" controller="ManageProductPackage" action="Create"
                 title="ثبت"
                 icon="fa-plus"
                 buttonClass="btn-primary"></TableBotton>



    <span class="hidden" data-role-table-btn-area-access="">

        @*<button data-role-href="/ProductGroup/ManageProductGroup/" modal-title="ویرایش آیتم" ismodal="true" class="btn btn-lg btn-warning data-role-table-btn" data-toggle="tooltip" title="ویرایش" data-role="confirm">
            <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;
            ویژگی‌ها
        </button>*@

        <TableBotton area="ProductPackage" controller="ManageProductPackage" action="Update"
                     title="ویرایش"
                     icon="fa-pencil-square-o"
                     buttonClass="btn-warning"></TableBotton>

        <TableBotton area="ProductPackage" controller="ManageProductPackage" action="SubmitProductForPackage"
                     title="مدیریت محصولات پکیج "
                     icon="fa-plus"
                     buttonClass="btn-primary"></TableBotton> 
        
        <TableBotton area="ProductPackage" controller="ManageProductPackage" action="PackageDiscount"
                     isModal="true"
                     modalTitle="تخفیف روی پکیج"
                     title="ثبت تخفیف "
                     icon="fa-plus"
                     buttonClass="btn-primary"></TableBotton>

        <TableBotton area="ProductPackage" controller="ManageProductPackage" action="ChangeState"
                     isModal="false"
                     modalTitle="تغییر وضعیت"
                     title="تغییر وضعیت"
                     icon="fa-ban"
                     buttonClass="btn-info"></TableBotton>


        <TableBotton area="ProductPackage" controller="ManageProductPackage" action="ChangeSpecialSell"
                     title="پکیج ویژه"
                     icon="fa-star"
                     buttonClass="btn-success"></TableBotton>

    </span>
</div>


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

    <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
        <thead>
            <tr>
                <th width="3%"></th>
                <th width="8%">
                    ردیف
                </th>
                <th width="200">تصویر</th>
                <th>عنوان پکیج</th>
                <th width="200">تاریخ ثبت</th>
                <th>قیمت کلی</th>
                <th>قیمت با تخفیف</th>
                <th>فعال/غیرفعال</th>
                <th>پکیج ویژه؟</th>
                <th>مجموع نظرات</th>
            </tr>
            <tr>
                <form method="post">

                    <th> --- </th>
                    <th> --- </th>
                    <th>
                        ---
                    </th>
                    <th>  --- </th>
                    <th> --- </th>

                    <th>
                        ----
                    </th>
                    <th>
                        ----
                    </th>
                    <th>
                        ----
                    </th>
                    <th>
                        ----
                    </th>
                    <th>
                        ----
                    </th>
                    <input type="submit" class="form-control hidden btn btn-success btn-block searchBtn" value="جستجو" />
                </form>
            </tr>
        </thead>
    </table>
    <div class="bodycontainer scrollable ">
        <table class="table-second table table-hover table-striped table-condensed table-bordered table-scrollable">
            <tbody>



                @{var index = 1;}
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" data-role-table-checkbox="@item.Id"></td>
                            <td>@(index++)</td>
                            <td>
                                <img src="~/@item.IndexPic" class="img-responsive" width="200" height="200" />
                            </td>
                            <td>@item.Title</td>
                            <td>
                                @item.CreateDate.ToPersianDateTextify()
                            </td>
                            <td data-price="@item.Id"></td>
                            <td data-role="Discount"></td>
                            <td>
                                @(item.IsActive == true ? "فعال" : "غیر فعال")
                            </td>
                            <td>
                                @(item.IsSpecialPackage == true ? " ویژه" : " عادی")
                            </td>
                            <td>
                                @(item.Like - item.DisLike)
                            </td>
                            @*<td>
                                    <a data-toggle="tooltip" title="ویرایش" href="/ProductGroup/ManageProductGroup/Update/@item.Id" data-role="confirm">
                                        <i class="fa fa-pencil-square-o text-yellow pe-1x" aria-hidden="true"></i>
                                    </a>

                                    <a data-toggle="tooltip" title="حذف" href="/ProductGroup/ManageProductGroup/Delete/@item.Id" data-role="confirm">
                                        <i class="fa fa-trash-o text-danger pe-1x" aria-hidden="true"></i>
                                    </a>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <table class="table table-hover table-striped">
        <tfoot>
            @Html.Partial("~/Views/Shared/_Pagination.cshtml")
        </tfoot>
    </table>
</div>



<script>
    $(function () {
        var temp = $('[data-price]');
        $.each(temp, function (index, key) {
            var pacageId = $(key).attr('data-price');
            $.get("/ProductPackage/ManageProductPackage/PackagePrice", { id: pacageId }, function (result) {
                if (result !== false) {
                    $(key).append(result);
                }
            })
        })
    })
</script>
