@using Service.Repos
@inject ProductRepostitory ProductRepostitory
@using DataLayer.Entities
@{
    ViewData["Title"] = "لیست کالاها";
    var groups = ViewBag.Groups as List<ProductPackageGroups>;
}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



<form id="frm_Submit" asp-action="Create" class="form-horizontal" method="post" style="" enctype="multipart/form-data">

    <div class="container">
        <input type="hidden" name="packageId" value="@ViewBag.PackageId" />
        <input type="hidden" name="groupNumber" value="@(groups != null ? groups.Count() : 0)" />

        @if (groups != null)
        {

            <div id="progressbarwizard" class="pull-in">
                <ul>
                    @foreach (var item in groups)
                    {
                        <li class="Mli" data-role="@item.ProductGroup.Id"><a href="#Group_@item.Id" data-toggle="tab">@item.ProductGroup.Title</a></li>
                    }
                </ul>

                <div class="tab-content b-0 m-b-0">

                    <div id="bar" class="progress progress-striped progress-bar-primary-alt active">
                        <div class="bar progress-bar progress-bar-primary"></div>
                    </div>
                    @foreach (var group in groups)
                    {

                        <div class="tab-pane p-t-10 fade" id="Group_@group.ProductGroup.Id">


                        </div>
                    }
                    <!--- اظلاعات کلی محصولات-->




                </div>

            </div>
        }
    </div>
    <div class="col-lg-12 ">
        <button type="submit" class="btn btn-block btn-success">ثبت</button>
        <a href="/Product/ManageProduct/Index" class="btn btn-danger btn-block waves-effect waves-light">بازگشت</a>
    </div>
</form>





<script>

    $(function () {


        $('#progressbarwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;
                var $percent = ($current / $total) * 100;
                $('#progressbarwizard').find('.bar').css({ width: $percent + '%' });
            },
            'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted'
        });

        $('#btnwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted', 'nextSelector': '.button-next', 'previousSelector': '.button-previous', 'firstSelector': '.button-first', 'lastSelector': '.button-last' });

        //var $validator = $("#commentForm").validate({
        //    rules: {
        //        emailfield: {
        //            required: true,
        //            email: true,
        //            minlength: 3
        //        },
        //        namefield: {
        //            required: true,
        //            minlength: 3
        //        },
        //        urlfield: {
        //            required: true,
        //            minlength: 3,
        //            url: true
        //        }
        //    }
        //});
    })

    $(function () {

        var selectedGroupId = $("li.Mli.active").attr("data-role");
        console.log("selectedGroupId => ", selectedGroupId);
        var packageId = $('[name="packageId"]').val();
        $("#Group_" + selectedGroupId).html(AjaxCall("/ProductPackage/ManageProductPackage/getProductForPackge?groupId=" + selectedGroupId + "&packageId=" + packageId, null, "Get"));

        $("li.Mli").on("click", function () {
            var selectedGroupId = $(this).attr("data-role");
            var packageId = $('[name="packageId"]').val();

            for (var i = 0; i < parseInt($('[name="groupNumber"]').val()); i++) {
                $("#Group_" + i).html("");
            }


            $("#Group_" + selectedGroupId).html(AjaxCall("/ProductPackage/ManageProductPackage/getProductForPackge?groupId=" + selectedGroupId + "&packageId=" + packageId, null, "Get"));
        })

    });


    $(function () {
        $('#frm_Submit').submit(function (e) {
            e.preventDefault();
            var inputs = $('.cheacker');
            var packageId = '@ViewBag.PackageId';
            var list = [];

            $.each(inputs, function (index, key) {
                if (key.checked) {
                    let id = $(key).attr('data-role');
                    list.push(id);
                };
            })
            var selectedGroupId = $("li.Mli.active").attr("data-role");

            $.post('/ProductPackage/ManageProductPackage/ProductPackageAddItem'
                , { products: list, packageId: packageId, groupId: selectedGroupId}, function () {


            });
        });
    })
</script>
