@using Core.Utilities
@using System.Security.Claims
@model List<DataLayer.Entities.ShopProduct>
@{
    ViewData["Title"] = "Index";
}


@if (!Model.Any())
{
    <div class="container-main">
        <div class="d-block">
            <div class="main-row">
                <section class="cart-home">
                    <div class="post-item-cart d-block order-2">
                        <div class="content-page">
                            <div class="cart-form">
                                <div class="cart-empty text-center d-block">
                                    <div class="cart-empty-img mb-4 mt-4">
                                        <img src="~/images/shopping-cart.png">
                                    </div>
                                    <p class="cart-empty-title">سبد خرید شما در حال حاضر خالی است.</p>
                                    <a href="/Profile/Index" class="btn account-btn btn-primary">ورود به حساب کاربری</a>
                                    <div class="return-to-shop">
                                        <a href="/" class="backward btn btn-secondary">بازگشت به صفحه اصلی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-main">
        <div class="d-block">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                        </ol>
                    </nav>
                </div>
                <section class="cart-home">
                    <div class="post-item-cart d-block order-2">
                        <div class="content-page">
                            <div class="cart-form">
                                <form asp-controller="ShopProduct" asp-action="CreateInvoice" class="c-form">
                                    <div class="row">
                                        <div class="col-12 pl">
                                            <section>
                                                <table class="table-cart text-center cart table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="product-cart-name">نام محصول</th>
                                                            <th scope="col" class="product-cart-quantity">تعداد مورد نیاز</th>
                                                            <th scope="col" class="product-cart-price">قیمت</th>
                                                            <th scope="col" class="product-cart-Total">مجموع</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                @if (item.ProductId != null)
                                                                {
                                                                    <th scope="row" class="product-cart-name">
                                                                        <div class="product-thumbnail-img">
                                                                            <a href="/Product/ProductDetail/@item.ProductId" target="_blank">
                                                                                <img src="/@item.Product.IndexPic">
                                                                            </a>
                                                                            <div class="product-remove">
                                                                                <a href="/ShopProduct/RemoveCart/@item.Id" class="remove">
                                                                                    <i class="mdi mdi-close"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-title">
                                                                            <a href="/Product/ProductDetail/@item.ProductId" target="_blank">
                                                                                @item.Product.Title
                                                                            </a>

                                                                        </div>
                                                                    </th>
                                                                    <td class="product-cart-quantity">
                                                                        <div class="required-number before">
                                                                            <div class="quantity" data-id="@item.Id">
                                                                                <input type="number" class="counterValue" data-id="@item.Id" name="num_@item.Id" min="1" value="@item.Count">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="product-cart-price">
                                                                        <span class="amount">
                                                                            @item.Product.PriceWithDiscount.ToPersianPrice()
                                                                            <span>تومان</span>
                                                                        </span>
                                                                    </td>
                                                                    <td class="product-cart-Total">
                                                                        <span class="amount CountPerPrice_@item.Id">

                                                                            @((item.Product.PriceWithDiscount * item.Count).ToPersianPrice())
                                                                            <span>تومان</span>
                                                                        </span>
                                                                    </td>
                                                                }

                                                            </tr>

                                                            <tr class="border-top">
                                                                <td colspan="1">
                                                                    قیمت کل

                                                                </td>
                                                                <td colspan="3">
                                                                    <span class="ResultPriceCart"></span>
                                                                </td>
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                        <div class="col-12 mt-3">

                                            <div class="col-12">
                                                <div class="billing-fields mt-4">

                                                    <div class="form-group">
                                                        <label for="Title" class="control-label col-sm-2">عنوان سبد خرید <i class="text-danger fa fa-star size-8" style="font-size:8px"></i></label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="Title" aria-describedby="Title" placeholder="عنوان سبد خرید" />
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-12 pl mt-5">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-block btn-success" name="IsInvoice" value="true">ثبت پیش‌فاکتور </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-block btn-info" name="IsInvoice" value="false">خرید </button>
                                                </div>
                                                @if(User.Identity.FindFirstValue(ClaimTypes.Role) == "Admin")
                                                {
                                                    <div class="col-md-12" style="margin-top:20px">
                                                        <button type="submit" class="btn btn-block btn-warning" name="SpecialInvoice" value="true">پیش فاکتور ویژه </button>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

}



<script>
    $(function () {
        $('.quantity-button').on('click', function () {

            var isPackage = $(this).parent().parent().hasClass('IsPackage');
            var id = $(this).parent().parent().attr('data-id');
            var num = $("[name='num_" + id + "']").val();
            console.log("num", num);

            //if ($(this).hasClass('quantity-up')) {
            //    type = true;
            //}
            //else if ($(this).hasClass('quantity-down')) {
            //    type = false;
            //}

            $.get("/ShopProduct/CartCountValue", { id: id, count: num, isPackage }, function (res) {
                if (res !== null) {
                    $('.CountPerPrice_' + id).html(res);
                    CalculatePrice();
                }
            });
        })





        $('.counterValue').on('keyup', function () {
            debugger;

            var isPackage = $(this).parent().hasClass('packaged');
            var id = $(this).attr('data-id');
            var value = $(this).val();
            console.log("num", value);

            $.get("/ShopProduct/CartCountValue", { id: id, count: value, isPackage }, function (res) {
                if (res !== null) {
                    $('.CountPerPrice_' + id).html(res);
                    CalculatePrice();
                }
            });
        })

    })

</script>

<script>

    $(function () {
        CalculatePrice();
     });


    function CalculatePrice() {
         $.get("@Url.Action("CalculateCart","ShopProduct")",
             function (result) {
                 $('.ResultPriceCart').html(result);
            });
    }

</script>