@using Core.Utilities
@{
    ViewData["Title"] = "Index";
    var address = ViewBag.UserAddress as UserAddress;
    var userInfo = ViewBag.UserInfo as DataLayer.Entities.Users.Users;
}


<div class="container-main">
    <div class="d-block">
        <section class="blog-checkout d-block order-1">
            <div class="col-lg">
                <div class="checkout woocommerce-checkout">
                    <div class="content-checkout container">
                        <div class="middle-container">
                            <form asp-action="UserAddressFromInvoice" method="post" class="form-checkout">

                                <input type="hidden" name="ShopOrderId" value="@ViewBag.OrderId"/>

                                <div class="col2-set" id="customer-details">
                                    <div class="col-12">
                                        <div class="billing-fields mt-4">
                                            <h4>جزئیات صورتحساب</h4>
                                            <div class="form-checkout-row">

                                                
                                                <div class="validate-required">
                                                    <label for="name">نام تحویل گیرنده <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="name" disabled value="@userInfo.FirstName @userInfo.LastName" class="input-name-checkout form-control">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="phone-number">شماره موبایل <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" id="phone-number" disabled value="@userInfo.PhoneNumber" class="input-name-checkout form-control text-left">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="fixed-number">شماره تلفن ثابت <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" name="Telephone" value="@address?.Telephone" id="fixed-number" class="input-name-checkout form-control text-left">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="post-code">کد پستی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="number" name="ZipCode" dir="ltr" value="@address?.ZipCode" id="post-code" class="input-name-checkout form-control" placeholder="کد پستی را بدون خط تیره بنویسید">
                                                </div>


                                                <div class="validate-required">
                                                    <label for="Street">منطقه <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <select name="TehranAreasFrom" required asp-for="@address.TehranAreasFrom" asp-items="@Html.GetEnumSelectList<TehranAreas>()">
                                                        <option value="">--لطفا انتخاب کنید--</option>
                                                    </select>
                                                    @*<input type="text" name="Address" value="@address?.TehranAreasFrom" id="post-code" class="input-name-checkout form-control">*@
                                                </div>

                                                <div class="validate-required">
                                                    <label for="Street">آدرس <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" name="Address" value="@address?.Address" id="post-code" class="input-name-checkout form-control">
                                                </div>


                                                <div class="validate-required">
                                                    <label for="bld-num">
                                                        پلاک
                                                        <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                    </label>
                                                    <input type="number" name="Plaque" value="@address?.Plaque" id="bld-num" class="input-name-checkout js-input-bld-num form-control">
                                                </div>

                                                <div class="validate-required">
                                                    <label for="apt-id">واحد</label>
                                                    <input type="number" id="apt-id" name="Floor" value="@address?.Floor" class="input-name-checkout js-input-apt-id form-control">
                                                </div>

                                                <label for="address">
                                                    توضیحات سفارش
                                                    <span class="optional">(اختیاری)</span>
                                                </label>
                                                <textarea rows="5" cols="30" id="address" class="textarea-name-checkout form-control" placeholder="یادداشت ها درباره سفارش شما ، برای مثال نکات مهم برای تحویل بار "></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-Order btn btn-primary mt-4 mb-3" type="submit">ثبت سفارش</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
