@model IEnumerable<DataLayer.DTO.UserDTO.UsersManageDTO>

@{
    ViewBag.Title = "مدیریت کاربران";
}


<style>
    table, th, td {
        text-align: center;
    }
</style>




<div class="editable-responsive">
    <table class="table table-responsive table-striped rounded table-hover table-bordered" id="datatable-editable">
        <thead>
            <tr>
                <th width="10">ردیف</th>
                <th width="200">
                    نام کاربری
                </th>
                <th width="200">
                    ایمیل
                </th>
                <th width="200">
                    اقدامات
                </th>
            </tr>
        </thead>
        <tbody>
            @{ var raw = 1;}
            @foreach (var item in Model)
            {
                <tr @*class="gradeX" *@>
                    <td>@(raw++)</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>

                        <a href='@Url.Action("SetRole", new {id = @item.Id})' class="btn btn-success btn-sm btn-rounded w-md waves-effect waves-light m-b-5">نقش</a>
                        <a href='@Url.Action("EditPassword", new {id = @item.Id})' class="btn btn-success btn-sm btn-rounded w-md waves-effect waves-light m-b-5">ویرایش رمز عبور</a>
                        <a href='@Url.Action("SendSmsToUser", new {id = @item.Id})' class="btn btn-success btn-sm btn-rounded w-md waves-effect waves-light m-b-5">ارسال پیامک</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @*@Html.Partial("~/Views/Shared/_Pagination.cshtml")*@
</div>

<!-- end: panel body -->



<a href='/Admin/ProductCategoryManage/SubCategoryIndex?id=@ViewBag.Ct' class="btn btn-block btn-primary">بازگشت</a>



