@using DataLayer.DTO.FeatureQuestionForPakage;
@using DataLayer.DTO.Feature;
@using DataLayer.DTO;
@using DNTPersianUtils.Core;
@model List<FeatureQuestionForPakageDTO>
@{
    ViewData["Title"] = "لیست سوالات مربوط به پکیج‌ها";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ProductGroupDTO> groups = ViewBag.Groups;
    List<FeatureIdTitleDTO> Features = ViewBag.Features;

}

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 btn-table">



    <TableBotton area="FeatureQuestionForPakage" controller="ManageFeatureQuestionForPakage" action="Insert"
                 isModal="true"
                 modalTitle="ثبت"
                 title="ثبت"
                 icon="fa-plus"
                 buttonClass="btn-primary"></TableBotton>

    <span class="hidden" data-role-table-btn-area-access="">


        <TableBotton area="FeatureQuestionForPakage" controller="ManageFeatureQuestionForPakage" action="Update"
                     title="ویرایش"
                     isModal="true"
                     modalTitle="ویرایش"
                     icon="fa-pencil-square-o"
                     buttonClass="btn-warning"></TableBotton>


        <TableBotton area="FeatureQuestionForPakage" controller="ManageFeatureQuestionForPakage" action="Delete"
                     title="حذف"
                     icon="fa-trash-o"
                     buttonClass="btn-danger"></TableBotton>



    </span>

</div>


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

    <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
        <thead>
            <tr>
                <th width="3%"></th>
                <th width="60px">ردیف</th>
                <th>عنوان سوال</th>
                <th>نام ویژگی</th>
                <th>گروه</th>

            </tr>
            <tr>
                <form method="get" name="searchForm">
                    <th width="3%">---</th>
                    <th width="60px">---</th>
                    <th><input type="text" value="@ViewBag.SearchModel.QuestionTitle" name="Title" class="form-control searchInput" /></th>
                    <th>
                        <select name="ProductGroupId" class="form-control searchSelect">
                            <option>--لطفا انتخاب کنید--</option>
                            @if (groups != null)
                            {
                                @foreach (var item in groups)
                                {
                                    <!option value="@item.Id" @(ViewBag.SearchModel.GroupId == item.Id ? "selected" : "")>@item.Title</!option>
                                }
                            }
                        </select>
                    </th>
                    <th>
                        <select name="ProductGroupId" class="form-control searchSelect ">
                            <option>--لطفا انتخاب کنید--</option>
                            @if (Features != null)
                            {
                                @foreach (var item in Features)
                                {
                                    <!option value="@item.Id" @(ViewBag.SearchModel.FeatureId == item.Id ? "selected" : "")>@item.Title</!option>
                                }
                            }
                        </select>
                    </th>
                    <input type="submit" class="hidden searchBtn" value="جستجو" />
                </form>
            </tr>

        </thead>
    </table>
    <div class="bodycontainer scrollable">
        <table class="table-second table table-hover table-striped table-condensed table-bordered table-scrollable">
            <tbody>
                @{var index = 1;}
                @if (Model != null && Model.Count != 0)
                {
                    @foreach (FeatureQuestionForPakageDTO item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" data-role-table-checkbox="@item.Id"></td>
                            <td>@(index++)</td>
                            <td>@item.QuestionTitle</td>
                            <td>@item.Feature.Title</td>
                            <td>@item.ProductGroup.Title</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-danger">رکوردی یافت نشد</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <table class="table table-hover table-striped">
        <tfoot>
            @Html.Partial("~/Views/Shared/_Pagination.cshtml")
        </tfoot>
    </table>




</div>
