@using System.Reflection
@using Core.CustomAttributes

@{
    ViewData["Title"] = "دسترسی ها ";
    var actionInfo = ViewBag.ActionInfo as Dictionary<string, List<MethodInfo>>;
    var controllerInfo = ViewBag.ControllerInfo as List<Type>;
}

<style>
    ul {
        list-style-type: none;
    }
</style>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <form asp-action="Create" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box p-b-0">

                            <h4 class="header-title m-t-0 m-b-30">ثبت نقش جدید</h4>

                            <div class="row">

                                @*<div class="alert alert-danger">
                                        Test
                                    </div>*@

                                <div class="card-box">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-2">نقش</label>
                                        <div class="col-md-10">
                                            <input type="text" name="Name" required class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-2">عنوان نقش</label>
                                        <div class="col-md-10">
                                            <input type="text" name="RoleTitle" required class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @{ var raw = 0;}
                    @foreach (var item in controllerInfo)
                    {
                        <input type="hidden" name="vm[@raw].RoleId" value="@item.Name" />
                        <div class="col-md-4">
                            <div class="card-box">
                                <div class="dropdown pull-right">
                                    <div class="checkbox checkbox-primary" style="top:-10px;padding-left:0 !important">
                                        <input type="checkbox" class="checkboxHead" name="vm[@raw].Controller" value="@item.Name" data-role="@item.Name">

                                        <label>

                                        </label>
                                    </div>
                                </div>

                                <h4 class="header-title m-t-0 m-b-30">@(item.GetCustomAttribute<ControllerRoleAttribute>()?.GetName())</h4>
                                <hr />
                                <ul>
                                    @{
                                        var lst = actionInfo.Keys.ToList().Contains(item.Name) ? actionInfo[item.Name] : null;
                                    }
                                    @if (lst != null)
                                    {
                                        foreach (var actions in lst)
                                        {
                                            <li>
                                                <div class="checkbox checkbox-info" style="top:-10px;padding-left:0 !important">
                                                    <input type="checkbox" class="sub_@item.Name" name="vm[@raw].Actions" value="@actions.Name" disabled>
                                                    <label>
                                                        @(actions.GetCustomAttribute<ActionRoleAttribute>().GetActionName())
                                                    </label>
                                                </div>
                                            </li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>

                        raw++;
                    }




                </div>
                <button type="submit" class="btn btn-success btn-sm btn-rounded w-md waves-effect waves-light m-b-5">ثبت </button>
                <a href='/RoleManage/Index' class="btn btn-danger btn-sm btn-rounded w-md waves-effect waves-light m-b-5">بازگشت</a>
            </form>
        </div> <!-- container -->
        <div>

        </div>
    </div> <!-- content -->

</div>


@section Script{
    <script>
        $(function () {
            $('.checkboxHead').on("click", function () {
                debugger;
                var id = $(this).attr("data-role");
                var inputs = $('.sub_' + id);

                var check = $(this).is(":checked");

                if (check == false) {

                    $.each(inputs, function (index, key) {
                        $(key).attr("disabled", "disabled")
                    })

                }
                else {

                    $.each(inputs, function (index, key) {
                        $(key).removeAttr("disabled")
                    })
                }
            })
        })
    </script>
}
