@model IEnumerable<DataLayer.DTO.UserDTO.RoleManageDTO>

@{
    ViewData["Title"] = "لیست نقش ها";
}

<style>
    table, th, td {
        text-align: center;
    }
</style>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <a href="/RoleManage/Create" class="btn btn-lg btn-primary" data-toggle="tooltip" title="ثبت" data-role="confirm">
        <i class="fa fa-plus btn-icon" aria-hidden="true"></i>&nbsp;&nbsp;
        ثبت
    </a>
</div>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <table class="table table-responsive table-striped rounded table-hover table-bordered ">
        <thead>
            <tr>
                <th width="10">ردیف</th>
                <th width="200">
                    عنوان نقش
                </th>
                <th width="200">
                    نقش
                </th>
                <th width="200">
                    اقدامات
                </th>
            </tr>
        </thead>
        <tbody>
            @{ var raw = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(raw++)</td>
                    <td>@item.RoleTitle</td>
                    <td>@item.Name</td>
                    <td>

                        <a href='@Url.Action("Edit", new {id = @item.Id})' class="btn btn-trans btn-info btn-sm btn-rounded w-md waves-effect waves-light m-b-5"><i class="fa fa-wrench"></i> تنظیمات نقش <i class="fa fa-wrench"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
