@using DataLayer.DTO
@using DataLayer.DTO.Feature
@using DataLayer.DTO.Condition
@{
    ViewData["Title"] = "ثبت آیتم جدید";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";

    List<ProductGroupDTO> ProductGroups = ViewBag.ProductGroups;
    List<FeatureIdTitleDTO> Features = ViewBag.Products;
    List<ConditionDTO> Conditions = ViewBag.Conditions;
}


<form action="/ProductGroupDependency/ManageProductGroupDependency/Insert" class="form-horizontal" method="post" style="">

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">عنوان وابستگی <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required="required" name="Title" aria-describedby="Title" placeholder="عنوان وابستگی" />
        </div>
    </div>


    <div class="form-group">
        <label for="ConditionId" class="control-label col-sm-2">شرط <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">

            <select class="form-control" name="ConditionId" required>
                <option value="">--لطفا انتخاب کنید--</option>
                @if (Conditions != null)
                {
                    foreach (ConditionDTO item in Conditions)
                    {
                        <option value="@item.Id">@item.Title (@item.Name)</option>
                    }
                }
            </select>
            @*<input type="text" class="form-control" required="required" name="ConditionId" aria-describedby="ConditionId" placeholder="شرط" />*@
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6">
                <div class="form-group">
                    <label for="GroupId1" class="control-label col-sm-6">گروه وابسته <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">

                        <select class="form-control" name="GroupId1" required>
                            <option value="">--لطفا انتخاب کنید--</option>
                            @foreach (ProductGroupDTO item in ProductGroups)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>



                    </div>
                </div>

                <div class="form-group">
                    <label for="Feature1" class="control-label col-sm-6">ویژگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="Feature1" required class="form-control" disabled>
                            <option value="">انتخاب نمایید...</option>
                            @foreach (FeatureIdTitleDTO item in Features)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Value1" class="control-label col-sm-6">مقدار</label>
                    <div class="col-sm-12">
                       
                        <select name="Value1" required class="form-control" disabled>
                            <option value="">انتخاب نمایید...</option>
                            @*@foreach (FeatureIdTitleDTO item in Features)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }*@
                        </select>
                        @*<input type="text" class="form-control" name="Value1" aria-describedby="Value1" placeholder="مقدار" />*@
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6">

                <div class="form-group">
                    <label for="Title" class="control-label col-sm-6">گروه وابستگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="GroupId2" required class="form-control">
                            <option value="">انتخاب نمایید...</option>
                            @foreach (ProductGroupDTO item in ProductGroups)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Feature2" class="control-label col-sm-6">ویژگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="Feature2" required class="form-control" disabled>
                            <option value="">انتخاب نمایید...</option>
                            @foreach (FeatureIdTitleDTO item in Features)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Value2" class="control-label col-sm-6">مقدار</label>
                    <div class="col-sm-12">
                        <select name="Value2" required class="form-control" disabled>
                            <option value="">انتخاب نمایید...</option>
                            
                        </select>
                        @*<input type="text" class="form-control" name="Value2" aria-describedby="Value2" placeholder="عنوان واحد" />*@
                    </div>
                </div>

            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">ثبت</button>


</form>



<script>
    //  jQuery(document).ready(function() {
    // Select2
    //   $("[data-role='Group1']").select2();
    //  $("[data-role='Feature1']").select2();
    //  $("[data-role='Group2']").select2();
    // $("[data-role='Feature2']").select2();

    //});

    //jQuery(document).ready(function () {
    //    // Select2
    //    $("[data-role='Gro']").select2();

    //});


    $("[name='GroupId1']").on("change", function () {
        var groupId = $(this).val();

        if (groupId != "") {
            $("[name='Feature1'] option").remove();
            var result = AjaxCall("/ProductGroupDependency/ManageProductGroupDependency/getFeatureByGroupId?groupId=" + groupId, null, "post");

            $("[name='Feature1']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);

            for (var i = 0; i < result.length; i++) {
                $("[name='Feature1']").append(`<option value="${result[i].id}"> 
                                       ${result[i].title}
                                  </option>`);
            }

            $("[name='Feature1']").removeAttr("disabled");
        } else {
            $("[name='Feature1'] option").remove();
            $("[name='Feature1']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);
            $("[name='Feature1']").addAttr("disabled");
        }
    });

    $("[name='GroupId2']").on("change", function () {
        var groupId = $(this).val();

        if (groupId != "") {
            $("[name='Feature2'] option").remove();
            var result = AjaxCall("/ProductGroupDependency/ManageProductGroupDependency/getFeatureByGroupId?groupId=" + groupId, null, "post");

            $("[name='Feature2']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);

            for (var i = 0; i < result.length; i++) {
                $("[name='Feature2']").append(`<option value="${result[i].id}"> 
                                       ${result[i].title}
                                  </option>`);
            }

            $("[name='Feature2']").removeAttr("disabled");
        } else {
            $("[name='Feature2'] option").remove();
            $("[name='Feature2']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);
            $("[name='Feature2']").addAttr("disabled");
        }
    });


    $("[name='Feature1']").on("change", function () {
        var featureId = $(this).val();

        if (featureId != "") {
            var result = AjaxCall("/ProductGroupDependency/ManageProductGroupDependency/getFeatureValues?featureId=" + featureId, null, "post");

            $("[name='Value1']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);

            for (var i = 0; i < result.length; i++) {
                $("[name='Value1']").append(`<option value="${result[i].id}"> 
                                       ${result[i].title}
                                  </option>`);
            }

            $("[name='Value1']").removeAttr("disabled");
        } else {
            $("[name='Value1'] option").remove();
            $("[name='Value1']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);
            $("[name='Value1']").addAttr("disabled");
        }
    });



    $("[name='Feature2']").on("change", function () {
        var featureId = $(this).val();

        if (featureId != "") {
            var result = AjaxCall("/ProductGroupDependency/ManageProductGroupDependency/getFeatureValues?featureId=" + featureId, null, "post");

            $("[name='Value2']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);

            for (var i = 0; i < result.length; i++) {
                $("[name='Value2']").append(`<option value="${result[i].id}"> 
                                       ${result[i].title}
                                  </option>`);
            }

            $("[name='Value2']").removeAttr("disabled");
        } else {
            $("[name='Value2'] option").remove();
            $("[name='Value2']").append(`<option value=""> 
                                       انتخاب نمایید... 
                                  </option>`);
            $("[name='Value2']").addAttr("disabled");
        }
    });


    $('select:not(.searchSelect)').each(function () {
        $(this).select2({
            dropdownParent: $(this).parent()
        });
    });



</script>