@using DataLayer.DTO
@using DataLayer.DTO.Feature
@using DataLayer.DTO.Condition

@model DataLayer.Entities.ProductGroupDependencies
@{
    ViewData["Title"] = "ویرایش آیتم";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";

    List<ProductGroupDTO> ProductGroups = ViewBag.ProductGroups;
    List<FeatureIdTitleDTO> Features = ViewBag.Products;
    List<ConditionDTO> Conditions = ViewBag.Conditions;
}


<form action="/ProductGroupDependency/ManageProductGroupDependency/Update" class="form-horizontal" method="post" style="">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label for="Title" class="control-label col-sm-2">عنوان وابستگی <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required="required" value="@Model.Title" name="Title" aria-describedby="Title" placeholder="عنوان وابستگی" />
        </div>
    </div>


    <div class="form-group">
        <label for="ConditionId" class="control-label col-sm-2">شرط <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-10">

            <select class="form-control" name="ConditionId" required>
                <option value="">--لطفا انتخاب کنید--</option>
                @if (Conditions != null)
                {
                    foreach (ConditionDTO item in Conditions)
                    {
                        if (Model.ConditionId == item.Id)
                        {
                            <option selected value="@item.Id">@item.Title (@item.Name)</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Title (@item.Name)</option>
                        }
                    }
                }
            </select>
            @*<input type="text" class="form-control" required="required" name="ConditionId" aria-describedby="ConditionId" placeholder="شرط" />*@
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6">
                <div class="form-group">
                    <label for="GroupId1" class="control-label col-sm-6">گروه وابسته <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="GroupId1" data-role="Group1" class="select2">
                            <option value="">انتخاب نمایید...</option>
                            @foreach (ProductGroupDTO item in ProductGroups)
                            {
                                if (Model.GroupId1 == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Feature1" class="control-label col-sm-6">ویژگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="Feature1" data-role="Feature1" class="select2">
                            <option value="">انتخاب نمایید...</option>
                            @foreach (FeatureIdTitleDTO item in Features)
                            {
                                if (Model.Feature1 == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Value1" class="control-label col-sm-6">مقدار</label>
                    <div class="col-sm-12">
                        <input type="text" value="@Model.Value1" class="form-control" name="Value1" aria-describedby="Value1" placeholder="مقدار" />
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6">

                <div class="form-group">
                    <label for="Title" class="control-label col-sm-6">گروه وابستگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="GroupId2" data-role="Group2" class="select2">
                            <option value="">انتخاب نمایید...</option>
                            @foreach (ProductGroupDTO item in ProductGroups)
                            {


                                if (Model.GroupId2 == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Feature2" class="control-label col-sm-6">ویژگی <i class="text-danger fa fa-star size-8"></i></label>
                    <div class="col-sm-12">
                        <select name="Feature2" data-role="Feature2" class="select2">
                            <option value="">انتخاب نمایید...</option>
                            @foreach (FeatureIdTitleDTO item in Features)
                            {
                                if (Model.Feature2 == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Value2" class="control-label col-sm-6">مقدار</label>
                    <div class="col-sm-12">
                        <input type="text" value="@Model.Value2" class="form-control" name="Value2" aria-describedby="Value2" placeholder="عنوان واحد" />
                    </div>
                </div>

            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">ثبت</button>


</form>



<script>
        jQuery(document).ready(function() {
            // Select2
                $("[data-role='Group1']").select2();
                $("[data-role='Feature1']").select2();
                $("[data-role='Group2']").select2();
                $("[data-role='Feature2']").select2();
            });

</script>