@using DataLayer.DTO.Products
@model List<ProductFullDTO>
@using DNTPersianUtils.Core

<style>
    ul li{
        list-style-type: none;
    }
</style>

<div class="single-widget widget-recommended-products mt-30">
    <div class="section-title">
        <h3>پیشنهادی</h3>
    </div>
    <div class="recommended-products-slider-2 slider-navigation-2 slider-navigation-2-m0">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="product-slider-col">
                @if (i % 3 == 0)
                {
                    @foreach (var item in Model.Skip(i).Take(3))
                    {
                        <article class="hoproduct hoproduct-4">
                            <div class="hoproduct-image">
                                <a class="hoproduct-thumb" href="/Product/ProductDetail/@item.Id">
                                    <img asp-append-version="true" class="hoproduct-frontimage" src="@(item.IndexPic!=null?ViewBag.Url+"/"+item.IndexPic:"/no-image.jpg")"
                                         alt="product image">
                                    <img asp-append-version="true" class="hoproduct-backimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+item.IndexPic:"/no-image.jpg")"
                                         alt="product image">
                                </a>
                            </div>
                            <div class="hoproduct-content">
                                <h5 class="hoproduct-title"><a href="/Product/ProductDetail/@item.Id">@item.Title</a></h5>
                                <div class="hoproduct-rattingbox">
                                    <div class="rattingbox">
                                    </div>
                                </div>
                                <div class="hoproduct-pricebox discountProduct" data-id="@item.Id">
                                    <div class="pricebox">
                                        @*<del class="oldprice">@item.Price</del>*@
                                        <span class="price DiscountPrice_@item.Id">@item.Price تومان</span>
                                    </div>
                                    <span class="dicountValue_@item.Id"></span>
                                </div>
                            </div>
                        </article>
                    }
                }

            </div>
        }
    </div>
</div>


