@model List<ShopProduct>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

@{ var PDFraw = 1;}
@{ var index = 0; }
@{ var indexMobile = 0; }


@{
    var unit = ViewBag.Unit as List<ProductUnit>;
    var userInfo = ViewBag.UserInfo as DataLayer.Entities.Users.Users;
    var order = ViewBag.Order as ShopOrder;
    var address = ViewBag.UserAddress as UserAddress;
}
<style>
    .select2-container .select2-selection--single {
        height: 60px !important;
    }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding: 4px !important;
        }

    .Mtable {
        text-align: center !important;
    }

        .Mtable thead tr th {
            text-align: center !important;
            background-color: #1e7ac2;
            color: #FFFFFF
        }

        .Mtable tbody tr td {
            text-align: center !important;
        }

        .Mtable td:last-child {
            border: 1px solid #dee2e6
        }


    .Mtable2 {
        text-align: center !important;
    }

        .Mtable2 thead tr th {
            text-align: center !important;
            background-color: #1e7ac2;
            color: #FFFFFF
        }

        .Mtable2 tbody tr td {
            text-align: center !important;
        }

        .Mtable2 td:last-child {
            border: 1px solid #dee2e6
        }
</style>
@*<div id="divPrint">
        <a href="#" onclick="window.print()" class="print-link pull-right text-danger" style="margin-left:30px"><i class="fa fa-print fa-3x"></i></a>

    </div>*@
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">


                    <div style="display:none; margin-left:20px; margin-right:20px" id="pdfMake">

                        <div class="p-3 text-center">
                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                        </div>

                        <!--اطلاعات کاربر-->
                        <table class="text-center Mtable table table-profile-orders table-bordered">
                            <thead>
                                <tr>
                                    <th>شماره فاکتور</th>
                                    <th>نام و نام خانوادگی</th>
                                    <th>شماره تماس</th>
                                    <th>تاریخ ثبت فاکتور</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@userInfo.FirstName @userInfo.LastName</td>
                                    <td>@userInfo.PhoneNumber</td>
                                    <td>@order.CreateDate.Value.ToPersianDateTextify()</td>

                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th colspan="5">عنوان</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        @order.Title
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <!--اطلاعات محصول-->
                        <table class="text-center Mtable table table-profile-orders table-bordered">
                            <thead>
                                <tr>
                                    <th width="50">ردیف</th>
                                    <th>عنوان کالا</th>
                                    <th>تعداد کالا</th>
                                    <th>واحد کالا</th>
                                    <th>قیمت اصلی کالا</th>
                                    <th>قیمت با تخفیف</th>
                                    <th>قیمت کل</th>
                                    <th>مشاهده</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="order-code">@(PDFraw++)</td>
                                    <td>
                                        <a target="_blank" href="http://liftbazar.ir/Product/ProductDetail/@item.ProductId">
                                            @(item.OrderName ?? item.Product.Title)
                                        </a>
                                    </td>
                                    <td>
                                        @item.Count
                                    </td>
                                    <td>@(item?.Product.ProductUnitId != null ? unit.FirstOrDefault(a => a.Id == item?.Product.ProductUnitId).Name : "واحدی ثبت نشده")</td>
                                    <td>@(long.Parse(item.OrderPrice).ToPersianPrice() ?? item.Product.Price.ToPersianPrice())</td>
                                    <td>@(long.Parse(item.OrderPriceDiscount).ToPersianPrice() ?? item.Product.PriceWithDiscount.ToPersianPrice())</td>
                                    <td>
                                        @if (item.OrderPriceDiscount != null)
                                            {
                                                var price = item.OrderPriceDiscount.Replace(",", "");

                                        <span>@((long.Parse(price) * item.Count).ToPersianPrice()) </span>
                                            }
                                            else
                                            {
                                        <span>@((item.Product.PriceWithDiscount * item.Count).ToPersianPrice())</span>
                                            }
                                    </td>
                                    <td>
                                        <a href="http://liftbazar.ir/Product/ProductDetail/@item.ProductId">
                                            <i title="مشاهده" data-toggle="tooltip" data-placement="bottom" class="mdi mdi-eye text-info font-size-25" aria-hidden="true"></i>
                                        </a>
                                    </td>

                                </tr>

                                }


                                <tr>
                                    <td colspan="2">جمع کل به عدد:</td>
                                    <td colspan="6">@(((long)order.Amount).ToPersianPrice()) تومان</td>
                                </tr>
                                <tr>
                                    <td colspan="2">جمع کل به حروف:</td>
                                    <td colspan="6">@(order.Amount.NumberToText(Language.Persian)) تومان</td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="p-3 text-center">
                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                        </div>

                    </div>


                    <partial name="_SidebarProfile" model="@ViewBag.Model">



                        <div class="col-lg-9 col-md-9 col-xs-12 pl ">

                            <div class="profile-content">
                                <div class="profile-stats">
                                    <div class="profile-address">
                                        <div class="middle-container">
                                            <div class="alert alert-info font-size-14">ثبت کالای جدید</div>
                                            <form asp-controller="Profile" asp-action="AddToShopOrder" class="form-checkout">
                                                <input type="hidden" name="ShopOrderId" value="@order.Id" />
                                                <input type="hidden" name="urlBack" value="InvoiceDetail" />
                                                <div class="form-checkout-row">

                                                    <div class="form-checkout-valid-row">
                                                        <label for="province">
                                                            نام کالا
                                                            <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                        </label>

                                                        <select name="ProductId"></select>

                                                    </div>

                                                    <label for="Count">تعداد<abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="number" required name="Count" value="1" class="input-name-checkout form-control" placeholder="تعداد">

                                                    <input type="submit" class="btn btn-success pull-left editBtn" value="افزودن کالای جدید">

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <form asp-controller="Profile" asp-action="EditShopOrder" id="frmUpdate" method="post">
                                <input type="hidden" name="ShopOrderId" value="@order.Id" />
                                <input type="hidden" name="urlBack" value="InvoiceDetail" />
                                <div class="profile-content">
                                    <div class="alert alert-info font-size-14">جزئیات فاکتور</div>
                                    <div class="profile-stats">
                                        <div class="table-orders">

                                            <table class="table table-profile-orders text-center">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!--اطلاعات کاربر-->
                                            <table class="text-center Mtable table table-profile-orders table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>شماره فاکتور</th>
                                                        <th>نام و نام خانوادگی</th>
                                                        <th>شماره تماس</th>
                                                        <th>تاریخ ثبت فاکتور</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@order.Id</td>
                                                        <td>@userInfo.FirstName @userInfo.LastName</td>
                                                        <td>@userInfo.PhoneNumber</td>
                                                        <td>@order.CreateDate.Value.ToPersianDateTextify()</td>

                                                    </tr>
                                                </tbody>
                                                <thead>
                                                    <tr>
                                                        <th colspan="5">عنوان</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="5">
                                                            @order.Title
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>



                                            <!--اطلاعات محصول-->
                                            <table class="text-center Mtable table table-profile-orders table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>ردیف</th>
                                                        <th>عنوان کالا</th>
                                                        <th>تعداد کالا</th>
                                                        <th>واحد کالا</th>
                                                        <th>قیمت اصلی کالا</th>
                                                        <th>قیمت با تخفیف</th>
                                                        <th>قیمت کل</th>
                                                        <th>اقدامات</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var raw = 1;}
                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td class="order-code">@(raw++)</td>
                                                        <td>@(item.OrderName ?? item.Product.Title) </td>
                                                        <td>
                                                            @*<input type="hidden" value="@item.ProductId" name="ListProducts[@index].ProductId" />*@

                                                            <input type="number" class="productCount" style="width: 30px; text-align:center" data-section="Desktop" data-productId="@item.ProductId"  value="@item.Count" />
                                                        </td>
                                                        <td>@(item?.Product.ProductUnitId != null ? unit.FirstOrDefault(a => a.Id == item?.Product.ProductUnitId).Name : "واحدی ثبت نشده")</td>
                                                        <td>@(long.Parse(item.OrderPrice).ToPersianPrice() ?? item.Product.Price.ToPersianPrice())</td>
                                                        <td>@(long.Parse(item.OrderPriceDiscount).ToPersianPrice() ?? item.Product.PriceWithDiscount.ToPersianPrice())</td>
                                                        <td>
                                                            @if (item.OrderPriceDiscount != null)
                                                                {
                                                                    var price = item.OrderPriceDiscount.Replace(",", "");

                                                            <span>@((long.Parse(price) * item.Count).ToPersianPrice()) </span>
                                                                }
                                                                else
                                                                {
                                                            <span>@((item.Product.PriceWithDiscount * item.Count).ToPersianPrice())</span>
                                                                }
                                                        </td>
                                                        <td>
                                                            <a href="/Profile/DeleteItemFromShopOrder?shopOrderId=@order.Id&productId=@item.ProductId&urlBack=InvoiceDetail">
                                                                <i title="حذف" data-toggle="tooltip" data-placement="bottom" class="mdi mdi-delete text-danger font-size-25" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                        index++;
                                                    }


                                                    <tr>
                                                        <td colspan="2">جمع کل به عدد:</td>
                                                        <td colspan="6">@(((long)order.Amount).ToPersianPrice()) تومان</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">جمع کل به حروف:</td>
                                                        <td colspan="6">@(order.Amount.NumberToText(Language.Persian)) تومان</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-profile-orders text-center">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                            <div class="profile-orders">
                                                <div class="collapse">
                                                    <div class="profile-orders-item">

                                                        <div class="p-3 text-center">
                                                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                                                        </div>


                                                        <table class="text-center Mtable table table-responsive table-responsive-sm table-responsive-sm table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>نام و نام خانوادگی</th>
                                                                    <th>شماره تماس</th>
                                                                    <th>تاریخ ثبت فاکتور</th>
                                                                    <th>تاریخ خرید</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>@userInfo.FirstName @userInfo.LastName</td>
                                                                    <td>@userInfo.PhoneNumber</td>
                                                                    <td>@order.CreateDate.Value.ToPersianDateTextify()</td>
                                                                    <td>@(order.SuccessDate == null ? "" : order.SuccessDate.Value.ToPersianDateTextify())</td>
                                                                </tr>
                                                            </tbody>
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="4">عنوان</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        @order.Title
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <!--اطلاعات محصول-->
                                                        <table class="text-center Mtable table-responsive table-responsive-sm table-responsive-sm table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>ردیف</th>
                                                                    <th>عنوان کالا</th>
                                                                    <th>تعداد کالا</th>
                                                                    <th>واحد کالا</th>
                                                                    <th>قیمت اصلی کالا</th>
                                                                    <th>قیمت با تخفیف</th>
                                                                    <th>قیمت کل</th>
                                                                    <th>مشاهده</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{ var raw1 = 1;}
                                                                @foreach (var item in Model)
                                                                {
                                                                <tr>
                                                                    <td class="order-code">@(raw1++)</td>
                                                                    <td>@(item.OrderName ?? item.Product.Title) </td>
                                                                    <td>
                                                                        @*<input type="hidden" value="@item.ProductId" name="ListProducts[@indexMobile].ProductId" />*@

                                                                        <input type="number" class="productCount" style="width: 30px; text-align:center" data-section="Mobile" data-productId="@item.ProductId" value="@item.Count" />
                                                                    </td>
                                                                    <td>@(item?.Product.ProductUnitId != null ? unit.FirstOrDefault(a => a.Id == item?.Product.ProductUnitId).Name : "واحدی ثبت نشده")</td>
                                                                    <td>@(item.OrderPrice ?? item.Product.Price.ToPersianPrice())</td>
                                                                    <td>@(item.OrderPriceDiscount ?? item.Product.PriceWithDiscount.ToPersianPrice())</td>
                                                                    <td>
                                                                        @if (item.OrderPriceDiscount != null)
                                                                            {
                                                                                var price = item.OrderPriceDiscount.Replace(",", "");

                                                                        <span>@((long.Parse(price) * item.Count).ToPersianPrice()) </span>
                                                                            }
                                                                            else
                                                                            {
                                                                        <span>@((item.Product.PriceWithDiscount * item.Count).ToPersianPrice())</span>
                                                                            }
                                                                    </td>
                                                                    <td>
                                                                        <a href="/Profile/DeleteItemFromShopOrder?shopOrderId=@order.Id&productId=@item.ProductId&urlBack=InvoiceDetail">
                                                                            <i title="حذف" data-toggle="tooltip" data-placement="bottom" class="mdi mdi-delete text-danger font-size-25" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                    indexMobile++;
                                                                }

                                                                <tr>
                                                                    <td colspan="2">جمع کل به عدد:</td>
                                                                    <td colspan="6">@(((long)order.Amount).ToPersianPrice()) تومان</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">جمع کل به حروف:</td>
                                                                    <td colspan="6">@(((long)order.Amount).ToPersianPrice()) تومان</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="p-3 text-center">
                                                            <a href="http://liftbazar.ir/">برای ورود به لیفت بازار و مشاهده قیمت روز قطعات آسانسور، کلیک کنید</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-warning pull-left editBtn" style="margin-left:16px;" value="به روز رسانی">
                            </form>
                            <a class="btn btn-success pull-left " style="margin-left:16px" href="/Profile/CreateFactorFromInvoce?id=@order.Id">ثبت فاکتور</a>
                            <a class="btn btn-danger pull-left" style="margin-left:16px" href="/Profile/ListInvoice">بازگشت</a>
                        </div>
                        <a href="#" onclick="printDiv()" class="print-link pull-left text-danger"><i class="fa fa-file-pdf-o fa-3x"></i></a>
                </div>

            </div>
        </section>
    </div>
</div>
<script>

    $(function () {
        $('.productCount').on("change", function (event) {
            
            var sectionType = $(this).attr("data-section");

            var inputs = $(`input[data-section="${sectionType}"]`);

            $.each(inputs, function (index, key) {
                var value = $(key).val();
                var id = $(key).attr('data-productId');
                $('#frmUpdate').append(`<input type='hidden' name='ListProducts[${index}].Count' value='${value}'/>`);
                $('#frmUpdate').append(`<input type='hidden' name='ListProducts[${index}].ProductId' value='${id}'/>`);
            })

            //var keycode = (event.keyCode ? event.keyCode : event.which);
            $('#frmUpdate').submit();
            $('.editBtn').trigger('click');

        });

    });
    //<img src="~/images/man.png" />
</script>
<script language="javascript">
    $('[name="ProductId"]').select2({
        allowClear: true,
        language: {
            inputTooShort: function (args) {
                // args.minimum is the minimum required length
                // args.input is the user-typed text
                return "نام کالای خود را وارد کنید";
            },
            //inputTooLong: function (args) {
            //    // args.maximum is the maximum allowed length
            //    // args.input is the user-typed text
            //    return "You typed too much";
            //},
            errorLoading: function () {
                return "خطایی به وجود آمده، لطفا مجددا تلاش کنید";
            },
            //loadingMore: function () {
            //    return "Loading more results";
            //},
            noResults: function () {
                return "کالایی با این نام یافت نشد";
            },
            searching: function () {
                return "در حال جستجو";
            },
            //maximumSelected: function (args) {
            //    // args.maximum is the maximum number of items the user may select
            //    return "Error loading results";
            //}
        },
        ajax: {
            url: "/Profile/SearchProduct",
            dataType: 'json',
            quietMillis: 200,
            data: function (term) {
                return {
                    term: term.term, //search term
                };
            },
            processResults: function (response) {

                return {
                    results: response
                };
            },
            cache: true

        },
        minimumInputLength: 1,
        templateResult: function (idioma) {


            src = "";
            if (idioma.hasOwnProperty('loading')) {
                src = "/" + idioma.image;
            } else {
                src = "/" + idioma.image;
            }

            var $span = $("<span style='font-size:12px'><img style='width:40px; height:40px' src='" + src + "'/> " + idioma.text + "</span>");
            return $span;
        },
        templateSelection: function (idioma) {
            src = "";
            if (idioma.hasOwnProperty('loading')) {
                src = "/" + idioma.image;
            } else {
                src = "/" + idioma.image;
            }

            var $span = $("<span style='font-size:12px'><img style='width:40px; height:40px' src='" + src + "'/> " + idioma.text + "</span>");
            return $span;
        }
    });
</script>

<script src="~/lib/html2pdf.js-master/dist/html2pdf.bundle.min.js"></script>
@*<script src="~/js/PdfMake.js"></script>*@



<script>
    function printDiv() {
        $('#pdfMake').css('display', '');
        $('#pdfMake').delay(2000).hide(0);
        generatePDF('pdfMake');

    }
</script>