@model List<DataLayer.Entities.Product>

<div class="ho-section related-product-area pb-30">
    <div class="container">
        <div class="section-title">
            <h3>محصولات مرتبط</h3>
        </div>
        <div class="product-slider new-best-featured-slider slider-navigation-2">
            @foreach (var item in Model)
            {
                <div class="product-slider-col">
                    <!-- Single Product -->
                    <article class="hoproduct">
                        <div class="hoproduct-image">
                            <a class="hoproduct-thumb VisitCounter" data-Id="@item.Id" href="/Product/ProductDetail/@item.Id">
                                <img class="hoproduct-frontimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"~/no-image.jpg")" alt="product image">
                                <img class="hoproduct-backimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"~/no-image.jpg")" alt="product image">
                            </a>
                            <ul class="hoproduct-flags discountProduct" data-id="@item.Id">
                                <li class="flag-pack">جدید</li>
                            </ul>
                        </div>
                        <div class="hoproduct-content">
                            <h5 class="hoproduct-title VisitCounter" data-Id="@item.Id"><a href="/Product/ProductDetail/@item.Id">@item.Title</a></h5>
                            <div class="hoproduct-rattingbox">
                                <div class="rattingbox">
                                </div>
                            </div>
                            <div class="hoproduct-pricebox ">
                                <div class="pricebox">
                                    @*<del class="oldprice olPrice_@item.Id">@item.Price</del>*@
                                    <span class="price DiscountPrice_@item.Id">@item.Price تومان</span>
                                </div>
                                <span class="dicountValue_@item.Id"></span>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>
            }


        </div>
    </div>
</div>

<script>
    $(function () {
        debugger;
        var productBoxes = $('.discountProduct');
        $.each(productBoxes, function (index, key) {
            var id = $(key).attr('data-id');
            debugger;
            $.get("/Product/CalculateDiscount", { id: id }, function (result) {
                if (result !== false) {
                    debugger;
                    console.log(result);
                    $(key).append('<li class="flag-discount">' + result.item2 + "  " + (result.item3 == 1 ? "% تخفیف" : "تومان تخفیف") + '</li>');
                    $('.dicountValue_' + id).addClass("discount");
                    $('.dicountValue_' + id).html(result.item2 + "  " + (result.item3 == 1 ? "%" : "تومان تخفیف"));
                    $('.DiscountPrice_' + id).html(result.item1 + " تومان تخفیف");
                    $('.countdown_Id_' + id).html('<div class="hoproduct-countdown countdown" data-countdown="' + result.item4 + '"></div>');
                }
                else {
                    //$('.olPrice_' + id).css('display','none');
                }
            })

        })

    })

    $(function () {
        $('.VisitCounter').on('click', function () {
            var id = $(this).attr('data-id');
            $.get("/Product/AddVisit", { id: id }, function () { });
        })
    })
</script>