@model List<DataLayer.Entities.Product>
@using DNTPersianUtils.Core
@{
    var categorys = ViewBag.Category as List<DataLayer.DTO.ProductGroupDTO>;
    var Search = ViewBag.Searcg as DataLayer.ViewModels.Products.ProductSearchListViewModel;
}

<style>
    .ShowInputAsLink {
        display: block !important;
        width: 100% !important;
        clear: both !important;
        font-weight: 400 !important;
        white-space: nowrap !important;
        background: none !important;
        border: 0 !important;
        padding: 10px 0 !important;
        color: #7e7e7e !important;
        line-height: 25px !important;
        font-size: 13px !important;
    }
</style>
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li><a href="index.html">خانه</a></li>
                <li>فروشگاه</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<!-- Page Conttent -->
<form asp-action="Index" method="get">
    <main class="page-content">

        <!-- Shop Page Area -->
        <div class="shop-page-area bg-white ptb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-1 order-lg-2">

                        @*<div class="banner-area">
                                <div class="imgbanner imgbanner-2">
                                    <a href="product-details.html">
                                        <img src="~/Plugins/Template/images/banner/banner-image-20.jpg" alt="banner">
                                    </a>
                                </div>
                            </div>*@

                        <div class="shop-filters">
                            <div class="shop-filters-viewmode">
                                <a class="is-active" data-view="grid"><i class="ion ion-ios-keypad"></i></a>
                                <a data-view="list"><i class="ion ion-ios-list"></i></a>
                            </div>
                            <span class="shop-filters-viewitemcount">@(ViewBag.Count) محصول موجود است</span>
                            <div class="shop-filters-sortby">
                                <b>مرتب سازی بر اساس:</b>
                                <div class="select-sortby">
                                    <a class="select-sortby-current">مرتبط بودن</a>
                                    <ul class="select-sortby-list dropdown-list">
                                        <li><input type="submit" class="ShowInputAsLink" name="Sort" value="مرتبط بودن" /></li>
                                        <li><input type="submit" class="ShowInputAsLink" name="Sort" value="نام, الف - ی" /></li>
                                        <li><input type="submit" class="ShowInputAsLink" name="Sort" value="نام, ی - الف" /></li>
                                        <li><input type="submit" class="ShowInputAsLink" name="Sort" value="قیمت, زیاد - کم" /></li>
                                        <li><input type="submit" class="ShowInputAsLink" name="Sort" value="قیمت, کم - زیاد" /></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="shop-page-products mt-30">
                            <div class="row no-gutters">

                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <!-- Single Product -->
                                        <article class="hoproduct">
                                            <div class="hoproduct-image">
                                                <a class="hoproduct-thumb" href="/Product/ProductDetail/@item.Id">
                                                    <img class="hoproduct-frontimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"/no-image.jpg")"
                                                         alt="product image">
                                                    <img class="hoproduct-backimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"/no-image.jpg")"
                                                         alt="product image">
                                                </a>
                                                @*<ul class="hoproduct-actionbox">
                                                    <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                                    <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                                    <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                                                </ul>*@
                                                <ul class="hoproduct-flags discountProduct" data-id="@item.Id">
                                                    <li class="flag-pack">جدید</li>
                                                </ul>
                                            </div>
                                            @await Component.InvokeAsync("CountDownProductVC", new { id = item.Id })
                                            <div class="hoproduct-content">
                                                <h5 class="hoproduct-title"><a href="/Product/ProductDetail/@item.Id">@item.Title</a></h5>
                                                <div class="hoproduct-rattingbox">
                                                    <div class="rattingbox">
                                                    </div>
                                                </div>
                                                <div class="hoproduct-pricebox ">
                                                    <div class="pricebox">
                                                        @*<del class="oldprice olPrice_@item.Id">@item.Price</del>*@
                                                        <span class="price DiscountPrice_@item.Id">@item.Price تومان</span>
                                                    </div>
                                                    <span class="dicountValue_@item.Id"></span>
                                                </div>
                                                <p class="hoproduct-content-description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و .</p>
                                            </div>
                                        </article>
                                        <!--// Single Product -->
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="cr-pagination pt-30">
                            <p>نمایش 1-12 از 13 محصول</p>
                            <ul>
                                <li><a href="shop-rightsidebar.html"><i class="ion ion-ios-arrow-forward"></i> قبلی</a></li>
                                <li class="active"><a href="shop-rightsidebar.html">1</a></li>
                                <li><a href="shop-rightsidebar.html">2</a></li>
                                <li><a href="shop-rightsidebar.html">بعدی <i class="ion ion-ios-arrow-back"></i></a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-3 order-2 order-lg-1">
                        <div class="shop-widgets">

                            <div class="single-widget widget-categories">
                                <h5 class="widget-title">همه دسته ها</h5>
                                <ul>
                                    <input type="hidden" name="Group" value="@Search?.Group" />
                                    @foreach (var item in categorys)
                                    {
                                        <li>

                                            <a asp-controller="Product" asp-action="Index" asp-route-Group="@item.Id">@item.Title</a>
                                        </li>
                                    }

                                </ul>
                            </div>

                            <div class="shop-widgetbox mt-30">
                                <div class="single-widget widget-filters">
                                    <h5 class="widget-title">فیلتر بر اساس قیمت</h5>
                                    <div class="widget-filter-inner">
                                        <div class="range-slider" data-range_min="0" data-range_max="@(ViewBag.MaxPrice!=null?ViewBag.MaxPrice: 50000000)"
                                             data-cur_min="300" data-cur_max="@(5000)">
                                            <div class="bar"></div>
                                            <span class="range-slider-leftgrip"></span>
                                            <span class="range-slider-rightgrip"></span>
                                        </div>
                                        <div class="single-widget-range-price">
                                            <b>قیمت: </b>  <span class="range-slider-rightlabel"></span> تومان -
                                            <span class="range-slider-leftlabel"></span> تومان
                                        </div>

                                        <input type="hidden" name="MinPrice" id="range-slider-rightlabel-InputMin" />
                                        <input type="hidden" name="MaxPrice" id="range-slider-rightlabel-InputMax" />

                                        <input type="submit" class="btn btn-success" value="اعمال قیمت" />
                                    </div>
                                </div>
                                <div class="single-widget widget-color">
                                    <h5 class="widget-title">فیلتر بر اساس رنگ</h5>
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-red" id="shop-widget-color-red" checked="checked">
                                            <label for="shop-widget-color-red">قرمز</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-green" id="shop-widget-color-green" checked="checked">
                                            <label for="shop-widget-color-green">سبز</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-blue" id="shop-widget-color-blue" checked="checked">
                                            <label for="shop-widget-color-blue">آبی</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-purple" id="shop-widget-color-purple">
                                            <label for="shop-widget-color-purple">بنفش</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color" id="shop-widget-color">
                                            <label for="shop-widget-color">نقره ای</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-black" id="shop-widget-color-black">
                                            <label for="shop-widget-color-black">سیاه</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-lime" id="shop-widget-color-lime">
                                            <label for="shop-widget-color-lime">صورتی</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-color-violet" id="shop-widget-color-violet">
                                            <label for="shop-widget-color-violet">لیمویی</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="single-widget widget-manufacturer">
                                    <h5 class="widget-title">شرکت تولید کننده</h5>
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="shop-widget-manufacturer-dell" id="shop-widget-manufacturer-dell" checked="checked">
                                            <label for="shop-widget-manufacturer-dell">دل</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-manufacturer-asus" id="shop-widget-manufacturer-asus" checked="checked">
                                            <label for="shop-widget-manufacturer-asus">ایسوز</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-manufacturer-apple" id="shop-widget-manufacturer-apple">
                                            <label for="shop-widget-manufacturer-apple">اپل</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-manufacturer-hp" id="shop-widget-manufacturer-hp">
                                            <label for="shop-widget-manufacturer-hp">اچ پی</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="shop-widget-manufacturer-sony" id="shop-widget-manufacturer-sony">
                                            <label for="shop-widget-manufacturer-sony">سونی</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Recommended Product -->
                            @await Component.InvokeAsync("SuggestedProductVC")
                            <!--// Recommended Product -->
                            @*<div class="imgbanner mt-30">
                                    <a href="product-details.html">
                                        <img src="~/Plugins/Template/images/banner/banner-image-9.jpg" alt="banner">
                                    </a>
                                </div>*@

                        </div>
                    </div>

                </div>
            </div>
        </div>
</form>
<!--// Shop Page Area -->
<!-- Newsletter Area -->
<div class="ho-section newsletter-area bg-grey ptb-50">
    <div class="container">
        <div class="newsletter">
            <div class="newsletter-title">
                <h2>مشترک شدن در <span>خبر نامه</span></h2>

            </div>
            <div class="newsletter-content">
                <form id="mc-form" class="newsletter-form">
                    <input id="mc-email" type="email" autocomplete="off" placeholder="آدرس ایمیل">
                    <button id="mc-submit" type="submit">ثبت</button>
                </form>
                <!-- mailchimp-alerts start -->
                <div class="mailchimp-alerts text-centre">
                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                </div><!-- mailchimp-alerts end -->
            </div>
            <div class="newsletter-socialicons socialicons socialicons-radial">
                <ul>
                    <li><a href="#"><i class="ion ion-logo-facebook"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-twitter"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-youtube"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-google"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// Newsletter Area -->
</main>
<!--// Page Conttent -->


<script>
    $(function () {
        
        var productBoxes = $('.discountProduct');
        $.each(productBoxes, function (index, key) {
            var id = $(key).attr('data-id');
            
            $.get("/Product/CalculateDiscount", { id: id }, function (result) {
                if (result !== false) {
                    
                    console.log(result);
                    $(key).append('<li class="flag-discount" style="list-style-type:none;">' + result.item2 + "  " + (result.item3 == 1 ? "% تخفیف" : "تومان تخفیف") + '</li>');

                    $('.DiscountPrice_' + id).html(result.item1 + " تومان ");
                    $('.countdown_Id_' + id).html('<div class="hoproduct-countdown countdown" data-countdown="' + result.item4 + '"></div>');
                }
                else {
                    //$('.olPrice_' + id).css('display','none');
                }
            })

        })

    })

    $(function () {
        $('.VisitCounter').on('click', function () {
            var id = $(this).attr('data-id');
            $.get("/Product/AddVisit", { id: id }, function () { });
        })
    })
</script>