@model List<DataLayer.Entities.Product>
@using DNTPersianUtils.Core
@{
    var categorys = ViewBag.Category as List<DataLayer.DTO.ProductGroupDTO>;
    var Search = ViewBag.Searcg as DataLayer.ViewModels.Products.ProductSearchListViewModel;
}

<style>
    .ShowInputAsLink {
        display: block !important;
        width: 100% !important;
        clear: both !important;
        font-weight: 400 !important;
        white-space: nowrap !important;
        background: none !important;
        border: 0 !important;
        padding: 10px 0 !important;
        color: #7e7e7e !important;
        line-height: 25px !important;
        font-size: 13px !important;
    }
</style>
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="ho-breadcrumb">
            <ul>
                <li><a href="index.html">خانه</a></li>
                <li>فروشگاه</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<!-- Page Conttent -->
<form asp-action="Index" method="get">
    <main class="page-content">

        <!-- Shop Page Area -->
        <div class="shop-page-area bg-white ptb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-1 order-lg-2">

                        @*<div class="banner-area">
            <div class="imgbanner imgbanner-2">
                <a href="product-details.html">
                    <img src="~/Plugins/Template/images/banner/banner-image-20.jpg" alt="banner">
                </a>
            </div>
        </div>*@

                        <div class="shop-filters">

                            <span class="shop-filters-viewitemcount">@(ViewBag.Count) محصول موجود است</span>

                        </div>

                        <div class="shop-page-products mt-30">
                            <div class="row no-gutters">

                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <!-- Single Product -->
                                        <article class="hoproduct">
                                            <div class="hoproduct-image">
                                                <a class="hoproduct-thumb" href="/Product/ProductDetail/@item.Id">
                                                    <img class="hoproduct-frontimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"/no-image.jpg")"
                                                         alt="product image">
                                                    <img class="hoproduct-backimage" src="@(item.IndexPic!=null? ViewBag.Url+"/"+@item.IndexPic:"/no-image.jpg")"
                                                         alt="product image">
                                                </a>
                                                @*<ul class="hoproduct-actionbox">
                                    <li><a href="#"><i class="lnr lnr-cart"></i></a></li>
                                    <li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-heart"></i></a></li>
                                </ul>*@

                                            </div>
                                            @await Component.InvokeAsync("CountDownProductVC", new { id = item.Id })
                                            <div class="hoproduct-content">
                                                <h5 class="hoproduct-title"><a href="/Product/ProductDetail/@item.Id">@item.Title</a></h5>
                                                <div class="hoproduct-rattingbox">
                                                    <div class="rattingbox">
                                                    </div>
                                                </div>
                                                <div class="hoproduct-pricebox ">
                                                    <div class="pricebox">
                                                        @*<del class="oldprice olPrice_@item.Id">@item.Price</del>*@
                                                        <span class="price DiscountPrice_@item.Id">@item.Price تومان</span>
                                                    </div>
                                                    <span class="dicountValue_@item.Id"></span>
                                                </div>
                                                <p class="hoproduct-content-description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و .</p>
                                            </div>
                                        </article>
                                        <!--// Single Product -->
                                    </div>
                                }
                            </div>
                        </div>

                        @Html.Partial("~/Views/Shared/_Pagination.cshtml")

                    </div>

                    <div class="col-lg-3 order-2 order-lg-1">
                        <div class="shop-widgets">

                            <div class="single-widget widget-categories">
                                <h5 class="widget-title">همه دسته ها</h5>
                                <ul>
                                    <input type="hidden" name="Group" value="@Search?.Group" />
                                    @foreach (var item in categorys)
                                    {
                                        <li>

                                            <a asp-controller="Product" asp-action="Index" asp-route-Group="@item.Id">@item.Title</a>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

</form>



<script>
    $(function () {

        var productBoxes = $('.discountProduct');
        $.each(productBoxes, function (index, key) {
            var id = $(key).attr('data-id');

            $.get("/Product/CalculateDiscount", { id: id }, function (result) {
                if (result !== false) {

                    console.log(result);
                    $(key).append('<li class="flag-discount" style="list-style-type:none;">' + result.item2 + "  " + (result.item3 == 1 ? "% تخفیف" : "تومان تخفیف") + '</li>');

                    $('.DiscountPrice_' + id).html(result.item1 + " تومان ");
                    $('.countdown_Id_' + id).html('<div class="hoproduct-countdown countdown" data-countdown="' + result.item4 + '"></div>');
                }
                else {
                    //$('.olPrice_' + id).css('display','none');
                }
            })

        })

    })

    $(function () {
        $('.VisitCounter').on('click', function () {
            var id = $(this).attr('data-id');
            $.get("/Product/AddVisit", { id: id }, function () { });
        })
    })
</script>