@using DataLayer.Entities
@model Feature

@{
    Layout = null;
}


<form action="/Feature/ManageFeature/Update" class="form-horizontal" method="post" style="">

    <input type="hidden" value="@Model.Id" name="Id" />

    <div class="form-group">
        <label for="Title" class="control-label col-sm-3">عنوان ویژگی <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-9">
            <input type="text" class="form-control" value="@Model.Title" required="required" name="Title" aria-describedby="Title" placeholder="عنوان ویژگی" />
        </div>
    </div>

    <div class="form-group">
        <label for="Title" class="control-label col-sm-3">نوع ویژگی <i class="text-danger fa fa-star size-8"></i></label>
        <div class="col-sm-9">
            <select name="FeatureType" asp-for="@Model.FeatureType" asp-items="@Html.GetEnumSelectList<DataLayer.SSOT.FeatureTypeSSOT>()" required class="form-control">
                <option value="">انتخاب نمایید...</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Title" class="control-label col-sm-3">آیا باید حتما پر شود؟ </label>
        <div class="col-sm-9">
            <div class="checkbox checkbox-primary" style="top:-10px;padding-left:0 !important">
                <input type="checkbox" @(Model.IsRequired ? "checked" : "") @(Model.IsRequired ? "value='true'" : "") class="checkboxHead" name="IsRequired">

                <label>

                </label>
            </div>
        </div>
    </div>



    <button type="submit" class="btn btn-block btn-success">ثبت</button>


    <script>

    </script>
</form>