@using DataLayer.Entities
@model int?
@{
    ViewBag.Title = "ثبت کالای جدید";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var groups = ViewBag.Groups as List<ProductGroup>;
    var units = ViewBag.Units as List<ProductUnit>;

}


<script src="~/lib/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link href="~/lib/gallery/cms-create-form/cms-create-form.css" rel="stylesheet" />




<form class="form-horizontal" id="commentForm" method="post" style="" enctype="multipart/form-data">

    <div class="container">

        <div id="progressbarwizard" class="pull-in">
            <ul>
                <li><a href="#ProductInfo-2" data-toggle="tab">اطلاعات کالا</a></li>
                <li><a href="#Descriptor-2" data-toggle="tab">توضیحات</a></li>
                <li><a href="#Gallery-2" data-toggle="tab">تصاویر</a></li>
                <li><a href="#Feature-2" data-toggle="tab">ویژگی ها</a></li>
            </ul>

            <div class="tab-content b-0 m-b-0">

                <div id="bar" class="progress progress-striped progress-bar-primary-alt active">
                    <div class="bar progress-bar progress-bar-primary"></div>
                </div>

                <!--- اظلاعات کلی محصولات-->
                <div class="tab-pane p-t-10 fade" id="ProductInfo-2">
                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">عنوان کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <input class="form-control" required="required" name="Title" aria-describedby="Title" placeholder="عنوان کالا" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">قیمت کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            @*<input type="number" class="form-control" required="required" name="Price" aria-describedby="Price" placeholder="قیمت کالا" />*@
                            <priceInput name="Price" title="قیمت کال" required="true"></priceInput>
                        </div>
                    </div>

                    @if (Model == null)
                    {
                        <div class="form-group">
                            <label for="Title" class="control-label col-sm-2">گروه کالا <i class="text-danger fa fa-star size-8"></i></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="ProductGroupId" required="required">
                                    <option value="">--لطفا انتخاب کنید--</option>
                                    @foreach (var item in groups)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                        </div>

                    }
                    else
                    {
                        <input type="hidden" name="ProductGroupId" value="@Model.Value" />

                        <script>
                            $(function () {
                                $('[name="ProductGroupId"]').on("change", function () {
                                    var groupId = $('[name="ProductGroupId"]').val();

                                    AjaxCall("/Product/ManageProduct/ProductFeatures", { id: groupId }, "POST", showResult);


                                    //$.get("/Product/ManageProduct/ProductFeatures", , function (result) {
                                    //    $('#Feature-2').html(result);
                                    //})

                                })

                                function showResult(result) {

                                    $('#Feature-2').html(result);
                                }


                            })


                        </script>
                    }




                    <div class="form-group">
                        <label for="Tags" class="control-label col-sm-2">واحد اندازه گیری کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="ProductUnitId" required>
                                <option value="">--لطفا انتخاب کنید--</option>
                                @if (units != null)
                                {
                                    foreach (var item in units)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Tags" class="control-label col-sm-2">تگ‌های کالا </label>
                        <div class="col-sm-10">
                            <input type="text" value="" name="Tags" data-role="tagsinput" placeholder="افزودن تگ جدید" />
                        </div>
                    </div>

                </div>

                <!--- توضیحات محصولات-->
                <div class="tab-pane p-t-10 fade" id="Descriptor-2">
                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">توضیح کلی <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <textarea name="Text" id="Text" class="form-control" aria-describedby="Text" required="required"></textarea>
                        </div>
                    </div>
             
                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">توضیح مختصر <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <textarea name="ShortDescription" id="Description" class="form-control" aria-describedby="ShortDescription" required="required"></textarea>
                        </div>
                    </div>
                </div>

                <!--- گالری تصاویر محصولات-->
                <div class="tab-pane p-t-10 fade" id="Gallery-2">


                    <!-- Form Section -->
                    <div class="col-md-6">

                        <div class="inputs">
                            <div class="form-group row fileDiv" dir="ltr">
                                <label dir="ltr" class="control-label col-sm-3">تصویر</label>
                                <div class="col-sm-6">
                                    <input type="file" input-id="1" name="file" class="form-control" placeholder="Enter email" onchange="checkFile(this)">
                                </div>
                                <div class="col-sm-3 text-center" style="line-height: 35px;">
                                    <i class="fas fa-plus" style="cursor: pointer;" title="Add File" onclick="addFile()"></i>
                                    <i class="fas fa-times text-danger" style="cursor: pointer;" title="remove File" onclick="removeFile(this)"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" style="position: relative;">
                        <img src="http://placehold.it/1000x2000" alt="" id="picture1">
                        <video src="" class="hide" id="mainVideo" controls>
                            Please change your browser to Chrome or firefox to show the video.
                        </video>
                        <!-- Gallery Section -->
                        <div class="gallery col-md-12 hide">
                            <!-- <div class="gallery-btns"> -->
                            <div class="gallery-btn gallery-btn--left gallery-btns">
                                <i class="fas fa-angle-left fa-lg" onclick="slideLeft()"></i>
                            </div>
                            <div class="gallery-btn gallery-btn--right gallery-btns">
                                <i class="fas fa-angle-right fa-lg" onclick="slideRight()"></i>
                            </div>
                            <!-- </div> -->
                            <div class="gallery-images">
                                <img class="gallery-item hide" img-id="1" src="http://placehold.it/1000x600">
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="Text" class="control-label col-sm-2">عکس کالا <i class="text-danger fa fa-star size-8"></i></label>
                            <div class="col-sm-10">
                                <input name="file"
                                       required
                                       type="file" class="dropify"
                                       data-show-loader="true"
                                       accept="image/gif, image/jpeg, image/png , image/bmp , image/jpg"
                                       id="ImageAddress" size="50">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Text" class="control-label col-sm-2">عکس کالا <i class="text-danger fa fa-star size-8"></i></label>
                            <div class="col-sm-10">
                                <input name="file"
                                       required
                                       type="file" class="dropify"
                                       data-show-loader="true"
                                       accept="image/gif, image/jpeg, image/png , image/bmp , image/jpg"
                                       id="ImageAddress" size="50" multiple>

                            </div>
                        </div>*@

                </div>

                <!--- ویژگی محصولات-->
                <div class="tab-pane p-t-10 fade" id="Feature-2">
                    <button type="submit" class="btn btn-block btn-success">ثبت</button>
                </div>
            </div>

            <div class="m-b-0 wizard col-lg-12 col-md-12 col-xl-12 col-sm-12">


                <ul class="pager m-b-0 wizard">

                    <li class="previous">
                        @*<div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">*@
                        <a href="#" class="btn btn-warning waves-effect waves-light">قبلی</a>
                        @*</div>*@
                    </li>

                    <li class="next"><a href="#" class="btn btn-primary waves-effect waves-light">بعد</a></li>
                </ul>

                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <a href="#" class="btn btn-warning btn-block waves-effect waves-light">قبلی</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <a href="#" class="btn btn-primary btn-block waves-effect waves-light">بعد</a>
                    </div>*@

            </div>

        </div>

    </div>

</form>
<div class="col-lg-12 ">
    <a href="/Product/ManageProduct/Index" class="btn btn-danger btn-block waves-effect waves-light">بازگشت</a>
</div>

<style>
    textarea {
        resize: none
    }
</style>
<script>
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'لطفا فایل خود را اینجا رها کنید',
            'remove': 'حذف',
            'error': 'خطایی رخ داده است'
        }
    });



</script>


<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('Text');

    });
</script>

<script>

    $(function () {
        $('[name="ProductGroupId"]').on("change", function () {
            $('#Feature-2').html(AjaxCall("/Product/ManageProduct/ProductFeatures", { id: $(this).val() }, "POST"));
        });




        $('#progressbarwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;
                var $percent = ($current / $total) * 100;
                $('#progressbarwizard').find('.bar').css({ width: $percent + '%' });
            },
            'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted'
        });

        $('#btnwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted', 'nextSelector': '.button-next', 'previousSelector': '.button-previous', 'firstSelector': '.button-first', 'lastSelector': '.button-last' });

        //var $validator = $("#commentForm").validate({
        //    rules: {
        //        emailfield: {
        //            required: true,
        //            email: true,
        //            minlength: 3
        //        },
        //        namefield: {
        //            required: true,
        //            minlength: 3
        //        },
        //        urlfield: {
        //            required: true,
        //            minlength: 3,
        //            url: true
        //        }
        //    }
        //});
    })

</script>
<script src="~/lib/gallery/cms-create-form/cms-create-form.js"></script>
