@model List<DataLayer.DTO.Products.ProductFullDTO>
@using DataLayer.Entities
@using DataLayer.ViewModels.Products
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "لیست کالاها";
    var groups = ViewBag.Groups as List<ProductGroup>;
    var search = ViewBag.SearchModel as ProductSearchViewModel;
}




<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 btn-table">



    <TableBotton area="Product" controller="ManageProduct" action="Create"
                 title="ثبت"
                 icon="fa-plus"
                 buttonClass="btn-primary"></TableBotton>



    <span class="hidden" data-role-table-btn-area-access="">

        @*<button data-role-href="/ProductGroup/ManageProductGroup/" modal-title="ویرایش آیتم" ismodal="true" class="btn btn-lg btn-warning data-role-table-btn" data-toggle="tooltip" title="ویرایش" data-role="confirm">
                <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;
                ویژگی‌ها
            </button>*@

        <TableBotton area="Product" controller="ManageProduct" action="Update"
                     title="ویرایش"
                     icon="fa-pencil-square-o"
                     buttonClass="btn-warning"></TableBotton>

        <TableBotton area="Product" controller="ManageProduct" action="FastPriceEdit"
                     title="ویرایش سریع"
                     isModal="true"
                     icon="fa-pencil-square-o"
                     modalTitle="ویرایش سریع"
                     buttonClass="btn-success"></TableBotton>


        <TableBotton area="Product" controller="ManageProduct" action="Delete"
            title="حذف"
            icon="fa-trash-o"
            isModal="true"
            modalTitle="حذف محصول"
            buttonClass="btn-danger"></TableBotton>




        <TableBotton area="Product" controller="ManageProduct" action="SubmitFeature"
                     title="تغییر ویژگی‌های کالا"
                     icon="fa-pencil-square-o"
                     buttonClass="btn-warning"></TableBotton>

        <TableBotton area="ProductDiscount" controller="ManageProductDiscount" action="ProductDiscount"
                     isModal="true"
                     querystring="url=@Context.Request.Path"
                     modalTitle="تخفیف روی کالا"
                     title="ثبت تخفیف "
                     icon="fa-plus"
                     buttonClass="btn-primary"></TableBotton>

        <TableBotton area="Product" controller="ManageProduct" action="ChangeState"
                     isModal="false"
                     modalTitle="تغییر وضعیت"
                     title="تغییر وضعیت"
                     icon="fa-ban"
                     buttonClass="btn-info"></TableBotton>


        <TableBotton area="Product" controller="ManageProduct" action="ChangeSpecialSell"
                     title="محصول ویژه"
                     icon="fa-star"
                     buttonClass="btn-success"></TableBotton>

    </span>
</div>


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

    <table class="table-first table-condensed table table-responsive tableWrap table-striped rounded table-hover table-bordered ">
        <thead>
            <tr>
                <th width="3%"></th>
                <th width="8%">
                    ردیف
                </th>
                <th>عکس محصول</th>
                <th>عنوان</th>
                <th>مبلغ</th>
                <th>قیمت با تخفیف</th>
                <th>گروه</th>
                <th>فعال/غیرفعال</th>
                <th>محصول ویژه؟</th>
                <th>تاریخ ثبت</th>
                <th>مشاهده</th>

            </tr>
            <tr>
                <form method="get" name="searchForm">
                    <th>
                        ---
                        @*<input  type="checkbox" data-toggle="tooltip" title="انتخاب همه" data-role="confirm">*@

                    </th>
                    <th>
                        ---
                        @*<input type="text" value="@ViewBag.SearchModel.Id" name="Id" class="form-control searchInput" />*@
                    </th>
                    <th> --- </th>
                    <th>
                        <input type="text" name="Title" value="@search.Title" class="form-control searchInput" />
                    </th>
                    <th>  <priceInput name="Price" value="@search.Price" title="قیمت کالا"></priceInput></th>
                    <th> --- </th>
                    <th>
                        <select name="ProductGroupId" class="form-control searchSelect">
                            <option>--لطفا انتخاب کنید--</option>
                            @foreach (var item in groups)
                            {
                                <!option value="@item.Id" @(search.ProductGroupId == item.Id ? "selected" : "")>@item.Title</!option>
                            }
                        </select>
                    </th>
                    <th>
                        ----
                    </th>
                    <th>
                        ----
                    </th>
                    <th>
                        <input type="text" name="Likes" value="@search.Likes" class="form-control searchInput" />
                    </th>
                    
                    <th>
                        ----
                    </th>
                    <input type="submit" class="form-control hidden btn btn-success btn-block searchBtn" value="جستجو" />
                </form>
            </tr>
        </thead>
    </table>
    <div class="bodycontainer scrollable ">
        <table class="table-second table table-hover table-striped table-condensed table-bordered table-scrollable">
            <tbody>



                @{var index = 1;}
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" data-role-table-checkbox="@item.Id"></td>
                            <td>@(index++)</td>
                            <td>
                                <img src="~/@item.IndexPic" class="img-responsive" width="200" height="200" />
                            </td>
                            <td>@item.Title</td>
                            <td>
                                @item.Price.ToPersianPrice()
                            </td>
                            <td>@item.PriceWithDiscount.ToPersianPrice()</td>
                            <td>
                                @item.ProductGroup.Title
                            </td>
                            <td>
                                @(item.IsActive == true ? "فعال" : "غیر فعال")
                            </td>
                            <td>
                                @(item.IsSpecialSell == true ? " ویژه" : " عادی")
                            </td>
                            
                            <td>
                                @item.CreateDate.ToPersianDateTextify()
                            </td>
                            <td>
                                <a target="_blank" href="http://liftbazar.ir/Product/ProductDetail/@item.Id">
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </a>
                            </td>
                            @*<td>
                                    <a data-toggle="tooltip" title="ویرایش" href="/ProductGroup/ManageProductGroup/Update/@item.Id" data-role="confirm">
                                        <i class="fa fa-pencil-square-o text-yellow pe-1x" aria-hidden="true"></i>
                                    </a>

                                    <a data-toggle="tooltip" title="حذف" href="/ProductGroup/ManageProductGroup/Delete/@item.Id" data-role="confirm">
                                        <i class="fa fa-trash-o text-danger pe-1x" aria-hidden="true"></i>
                                    </a>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <table class="table table-hover table-striped">
        <tfoot>
            @Html.Partial("~/Views/Shared/_Pagination.cshtml")
        </tfoot>
    </table>
</div>

