@using DataLayer.DTO
@using DataLayer.DTO.FeatureItem
@using DataLayer.DTO.ProductFeatures
@model List<FeatureFullDetailDTO>
@{
    ViewBag.Title = " ویژگی محصول";
    //var productFeatures = ViewBag.ProductFeatures as List<ProductFeature>;

    var productFeature = ViewBag.ProductFeature as List<ProductFeaturesFullDTO>;

}


@{ int row = 1, i = 0;}
@foreach (FeatureFullDetailDTO item in Model)
{
    <input type="hidden" name="vm.Items[@i].FeatureId" value="@item.Id" />


    @if (item.FeatureType == DataLayer.SSOT.FeatureTypeSSOT.Fssot)
    {

        <div class="form-group">
            <label for="Tags" class="control-label col-sm-2">
                @item.Title
                @if (item.IsRequired)
                {
                    <i class="text-danger fa fa-star size-8"></i>
                }
            </label>
            <div class="col-sm-10">
                <select class="form-control" @(item.IsRequired ? "required" : "") name="vm.Items[@i].FeatureValue">
                    <option value="">--لطفا انتخاب کنید--</option>
                    @foreach (FeatureItemDTO feature in item.FeatureItems)
                    {
                        <!option value="@feature.Id" @(productFeature.Any(a => a.FeatureId == item.Id && a.FeatureValue == feature.Id.ToString()) ? "selected" : "")>@feature.Value</!option>
                    }
                </select>
            </div>

        </div>


    }
    else if (item.FeatureType == DataLayer.SSOT.FeatureTypeSSOT.Fint)
    {
        <div class="form-group">
            <label for="Text" class="control-label col-sm-2">
                @item.Title
                @if (item.IsRequired)
                {
                    <i class="text-danger fa fa-star size-8"></i>
                }
            </label>
            <div class="col-sm-10">
                @{var val = productFeature.FirstOrDefault(a => a.FeatureId == item.Id).FeatureValue;}

                <input 
                       @(item.FeatureType==DataLayer.SSOT.FeatureTypeSSOT.Fint ? "step='0.01'" : "")
                       @(item.IsRequired ? "required" : "") 
                       @(val != null ? $"value={int.Parse(val)}" : "") 
                       type="number" placeholder="@item.Title" aria-describedby="Text" 
                       name="vm.Items[@i].FeatureValue" class="form-control" />
            </div>
        </div>
    }

    else if (item.FeatureType == DataLayer.SSOT.FeatureTypeSSOT.Fstring)
    {
        <div class="form-group">
            <label for="Text" class="control-label col-sm-2">
                @item.Title
                @if (item.IsRequired)
                {
                    <i class="text-danger fa fa-star size-8"></i>
                }
            </label>
            <div class="col-sm-10">
                @{var val = productFeature.FirstOrDefault(a => a.FeatureId == item.Id).FeatureValue;}

                <input @(item.IsRequired ? "required" : "") value="@val" type="text" placeholder="@item.Title" aria-describedby="Text" name="vm.Items[@i].FeatureValue" class="form-control" />
            </div>
        </div>
    }
    i++;
}


<button type="submit" class="btn btn-block btn-success">ثبت</button>
