@using DataLayer.DTO.Feature
@model List<FeatureValueFullDetailDTO>
@{
    ViewBag.Title = " ویژگی‌های محصول";
}


<form asp-area="Product" asp-controller="ManageProduct" asp-action="SubmitFeature">
    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">

        @{ int i = 0;}
        @* شماره محصول مورد نظر *@
        <input type="hidden" name="vm.ProductId" value="@ViewBag.ProductId" />

        @foreach (FeatureValueFullDetailDTO item in Model)
        {
            <input type="hidden" name="vm.Items[@i].FeatureId" value="@item.Id" />

            @if (item.FeatureType == DataLayer.SSOT.FeatureTypeSSOT.Fssot)
            {

                <div class="form-group">
                    <label for="Tags" class="control-label col-sm-2">
                        @item.Title
                        @if (item.IsRequired)
                        {
                            <i class="text-danger fa fa-star size-8"></i>
                        }
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" @(item.IsRequired ? "required" : "") name="vm.Items[@i].FeatureValue">
                            <option value="">--لطفا انتخاب کنید--</option>
                            @foreach (DataLayer.DTO.FeatureItem.FeatureItemDTO feature in item.FeatureItems)
                            {
                                if (item.Value.ToInt() == feature.Id)
                                {
                                    <option selected value="@feature.Id">@feature.Value</option>
                                }
                                else
                                {
                                    <option value="@feature.Id">@feature.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="Text" class="control-label col-sm-2">
                        @item.Title
                        @if (item.IsRequired)
                        {
                            <i class="text-danger fa fa-star size-8"></i>
                        }
                    </label>
                    <div class="col-sm-10">

                        <input 
                               @(item.FeatureType==DataLayer.SSOT.FeatureTypeSSOT.Fint ? "step='0.01'" : "")
                               value="@item.Value" @(item.IsRequired ? "required" : "") 
                               type="@(item.FeatureType==DataLayer.SSOT.FeatureTypeSSOT.Fint?"number":"text")" 
                               placeholder="@item.Title" aria-describedby="Text" name="vm.Items[@i].FeatureValue" class="form-control" />
                    </div>
                </div>
            }
            i++;
        }


        <button type="submit" class="btn btn-block btn-success">ثبت</button>

    </div>
</form>