@using DataLayer.DTO.Products
@using DataLayer.Entities
@using DataLayer.DTO
@using Newtonsoft.Json

@model ProductFullDTO
@{
    ViewBag.Title = "ویرایش کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var groups = ViewBag.Groups as List<ProductGroup>;
    var units = ViewBag.Units as List<ProductUnit>;

    List<MltiFileUploaderUpdateDTO> oldGalury = new List<MltiFileUploaderUpdateDTO>();

    foreach (var item in ViewBag.Gallery as List<ProductGallery>)
    {
        oldGalury.Add(new MltiFileUploaderUpdateDTO
        {
            id = item.Id,
            src = "/" + item.Pic
        });
    }

}


<script src="~/lib/ckeditor/ckeditor.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link href="~/lib/gallery/cms-create-form/cms-create-form.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/lib/Image-Uploader/ImageUploader.css" rel="stylesheet" />
<script src="~/lib/Image-Uploader/ImageUploader.js"></script>



<form asp-action="update" class="form-horizontal" id="commentForm" method="post" style="" enctype="multipart/form-data">
    
    <div class="container">

        <div id="rootwizard" class="pull-in">
            <ul>
                <li><a href="#ProductInfo-2" data-toggle="tab">اطلاعات کالا</a></li>
                <li><a href="#Descriptor-2" data-toggle="tab">توضیحات</a></li>
                <li><a href="#Gallery-2" data-toggle="tab">تصاویر</a></li>
                <li><a href="#Feature-2" data-toggle="tab">ویژگی ها</a></li>
            </ul>

            <div class="tab-content b-0 m-b-0">

                @*<div id="bar" class="progress progress-striped progress-bar-primary-alt active">
                        <div class="bar progress-bar progress-bar-success"></div>
                    </div>*@
                <!--- اظلاعات کلی محصولات-->
                <div class="tab-pane p-t-10 fade" id="ProductInfo-2">
                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">عنوان کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <input class="form-control" required="required" asp-for="Title" aria-describedby="Title" placeholder="عنوان کالا" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">قیمت کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            @*<input type="number" class="form-control" required="required" name="Price" aria-describedby="Price" placeholder="قیمت کالا" />*@
                            <priceInput name="Price" title="قیمت کالا" required="true" value="@Model.Price"></priceInput>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">وزن شاخص <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <input asp-for="ProductSize" type="number" placeholder="وزن شاخص" class="form-control" />
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="Title" class="control-label col-sm-2">گروه کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <select class="form-control" asp-for="ProductGroupId" required="required">
                                <option value="">--لطفا انتخاب کنید--</option>
                                @foreach (var item in groups)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="Tags" class="control-label col-sm-2">واحد اندازه گیری کالا <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <select class="form-control" asp-for="ProductUnitId" required>
                                <option value="">--لطفا انتخاب کنید--</option>
                                @if (units != null)
                                {
                                    foreach (var item in units)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Tags" class="control-label col-sm-2">تگ‌های کالا </label>
                        <div class="col-sm-10">
                            <input type="text" value="@Model.Tags" asp-for="Tags" data-role="tagsinput" placeholder="افزودن تگ جدید" />
                        </div>
                    </div>

                </div>

                <!--- توضیحات محصولات-->
                <div class="tab-pane p-t-10 fade" id="Descriptor-2">
                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">توضیح کلی <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Text" id="Text" class="form-control" aria-describedby="Text" required="required"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">توضیح مختصر <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <textarea asp-for="ShortDescription" id="Description" class="form-control" aria-describedby="ShortDescription" required="required"></textarea>
                        </div>
                    </div>
                </div>

                <!--- گالری تصاویر محصولات-->
                <div class="tab-pane p-t-10 fade" id="Gallery-2">

                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">عکس اصلی محصول <i class="text-danger fa fa-star size-8"></i></label>
                        <div class="col-sm-10">
                            <input name="file"
                                   
                                   data-default-file="/@(string.IsNullOrEmpty(Model.IndexPic) ? "" : Model.IndexPic.Replace("wwwroot", ""))"
                                   type="file" class="dropify"
                                   data-show-loader="true"
                                   accept="image/gif, image/jpeg, image/png , image/bmp , image/jpg"
                                   id="file" ifze="50">

                            <input type="hidden" name="fileAddress" value="@Model.IndexPic" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Text" class="control-label col-sm-2">گالری </label>
                        <div class="col-sm-10">

                            <div class="input-images-1" style="padding-top: .5rem;"></div>

                        </div>
                    </div>

                    <script>
                        $('.input-images-1').imageUploader({
                            imagesInputName: 'galleryImage',
                            preloadedInputName: 'oldGallery',
                            preloaded: @Html.Raw(JsonConvert.SerializeObject(oldGalury)),
                        });
                    </script>

                </div>

                <!--- ویژگی محصولات-->
                <div class="tab-pane p-t-10 fade" id="Feature-2">
                    <button type="submit" class="btn btn-block btn-success">ثبت</button>
                </div>
            </div>

            <div class="m-b-0 wizard col-lg-12 col-md-12 col-xl-12 col-sm-12">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <a href="#" class="btn btn-warning btn-block waves-effect waves-light">قبلی</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <a href="#" class="btn btn-primary btn-block waves-effect waves-light">بعد</a>
                </div>

            </div>

        </div>

    </div>

</form>
<div class="col-lg-12 ">
    <a href="/Product/ManageProduct/Index" class="btn btn-danger btn-block waves-effect waves-light">بازگشت</a>
</div>
<style>
    textarea {
        resize: none
    }
</style>
<script>
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'لطفا فایل خود را اینجا رها کنید',
            'remove': 'حذف',
            'error': 'خطایی رخ داده است'
        }
    });



</script>


<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('Text');

    });
</script>

<script>

    $(function () {
        $('[name="ProductGroupId"]').on("change", function () {
            $('#Feature-2').html(AjaxCall("/Product/ManageProduct/ProductFeatures", { id: $(this).val() }, "POST"));
        })
    })

</script>



<script>
    $(function () {





        var groupId = $('[name="ProductGroupId"]').val();
        $('#Feature-2').html(AjaxCall("/Product/ManageProduct/ProductFeaturesUpdate", { id: groupId, productId:@Model.Id}, "POST"));
        @*var groupId = $('[name="ProductGroupId"]').val();
        $.get("/Product/ManageProduct/ProductFeaturesUpdate", { id: groupId, productId:@Model.Id}, function (result) {
            $('#Feature-2').html(result);
        })*@

        //AjaxCall(, {  }, "POST", showResultS);

        //function showResultS(result) {
        //

        //}
    })
</script>

<script src="~/lib/gallery/cms-create-form/cms-create-form.js"></script>
