@using DataLayer.Entities
@using System.Linq
@model DataLayer.DTO.Products.ProductFullDTO
@using DNTPersianUtils.Core
@using Core.Utilities
@{
    var gallery = ViewBag.Gallery as List<ProductGallery>;
    List<FeatureItem> FeatureSSOTValue = ViewBag.FeatureSSOTValue;
    var isDisCount = Model.Price != Model.PriceWithDiscount;
}

<link href="~/css/vendor/noUISlider.min.css" rel="stylesheet" />
<link href="~/css/vendor/lightgallery.css" rel="stylesheet" />
<link href="~/css/vendor/nice-select.css" rel="stylesheet" />


<script src="~/js/vendor/lightgallery-all.js"></script>
<script src="~/js/vendor/jquery.ez-plus.js"></script>
<script src="~/js/vendor/jquery.nice-select.min.js"></script>

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item"><a href="/Product/ProductGroup/@Model?.ProductGroupId">@Model?.ProductGroup.Title</a></li>
                            <li class="breadcrumb-item">@Model?.Title</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="product type-product">
                        <div class="col-lg-5 col-xs-12 pr mt-2 d-block">
                            <section class="product-gallery">
                                <div class="gallery">
                                    <div class="gallery-item">
                                        <div>

                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <a href="#">
                                                <img class="zoom-img" id="img-product-zoom" src="http://staffonly.ir/@Model.IndexPic"
                                                     data-zoom-image="http://staffonly.ir/@Model.IndexPic" width="411" />
                                                <div id="gallery_01f" style="width:420px;float:right;">
                                            </a>


                                            <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">
                                                <li class="item">
                                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                                       data-image="http://staffonly.ir/@Model.IndexPic"
                                                       data-zoom-image="http://staffonly.ir/@Model.IndexPic">
                                                        <img src="http://staffonly.ir/@Model.IndexPic" width="100" />
                                                    </a>
                                                </li>
                                                @foreach (var item in gallery)
                                                {
                                                    <li class="item">
                                                        <a href="#" class="elevatezoom-gallery" data-update=""
                                                           data-image="http://staffonly.ir/@Model.IndexPic"
                                                           data-zoom-image="http://staffonly.ir/@Model.IndexPic">
                                                            <img src="http://staffonly.ir/@Model.IndexPic" width="100" />
                                                        </a>
                                                    </li>
                                                }
                                            </ul>



                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>
                    <div class="col-lg-7 col-xs-12 pl mt-5 d-block">
                        <section class="product-info">
                            <div class="product-headline">
                                <h1 class="product-title">
                                    @Model.Title
                                </h1>

                            </div>

                            <div class="product-config-wrapper">
                                <div class="product-directory">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-archive"></i> دسته:
                                            </span>
                                            <a href="/Product/ProductGroup/@Model?.ProductGroupId" class="product-link product-cat-title">@Model.ProductGroup.Title</a>

                                        </li>
                                        @if (!string.IsNullOrEmpty(Model.Tags))
                                        {
                                            <li>
                                                <span>
                                                    <i class="fa fa-tags"></i> برچسب:
                                                </span>
                                                @foreach (var item in Model.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
                                                {
                                                    <a href="/Product/Index?Title=@item" class="product-link product-tag-title">@item</a>
                                                }
                                            </li>
                                        }
                                        @*<li>
                                                <span>
                                                    برند:
                                                </span>
                                                <a href="#" class="product-link product-tag-title">سامسونگ</a>
                                            </li>*@
                                    </ul>
                                </div>
                                <div class="col=lg-12 col-md-12 col-xs-12 pr">

                                    <div class="product-params pt-3">
                                        <ul data-title="ویژگی‌های محصول" class="ul-liststyle-none" style="list-style:none !important">
                                            <li>
                                                <p style="line-height:2.3">@Model.ShortDescription</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col=lg-12 col-md-12 col-xs-12 pr">
                                    <div class="product-seller-info">
                                        <div class="seller-info-changable">

                                            @*<div class="product-seller-row guarantee">
            <span class="title"> گارانتی:</span>
            <a href="#" class="product-name">۱۸ ماهه دیجی اسمارت</a>
        </div>*@
                                            <div class="product-seller-row price">
                                                <span class="title"> قیمت:</span>
                                                <a href="#" class="product-name">
                                                    <span class="amount">
                                                        @Model.Price.ToPersianPrice()
                                                        <span>تومان</span>
                                                    </span>
                                                </a>
                                            </div>
                                            @if (Model.PriceWithDiscount != Model.Price)
                                            {
                                                <div class="product-seller-row vendor">
                                                    <span class="title"> قیمت با تخفیف:</span>
                                                    <a href="#" class="product-name">
                                                        <span class="amount">
                                                            @Model.PriceWithDiscount.ToPersianPrice()
                                                            <span>تومان</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            }
                                                <form target="_blank" asp-controller="ShopProduct" asp-action="AddCart">
                                                    <input type="hidden" value="@Model.Id" name="ProductId" />
                                                    <div class="product-seller-row guarantee">
                                                        <span class="title mt-3"> تعداد:</span>
                                                        <div class="quantity pl">
                                                            <input name="count" type="number" min="1" max="100" step="1" value="1"><div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-seller-row add-to-cart">
                                                        <button href="#" class="btn-add-to-cart btn btn-primary">
                                                            <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                        </button>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="tab-box">
                <ul class="tab nav nav-tabs" id="myTab" role="tablist">
                    @if (!string.IsNullOrEmpty(Model.Text))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" id="Review-tab" data-toggle="tab" href="#Review" role="tab" aria-controls="Review" aria-selected="true">
                                <i class="mdi mdi-glasses"></i>
                                نقد و بررسی
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link @(string.IsNullOrEmpty(Model.Text) ? "active" : "")" id="Specifications-tab" data-toggle="tab" href="#Specifications" role="tab" aria-controls="Specifications" aria-selected="false">
                            <i class="mdi mdi-format-list-checks"></i>
                            مشخصات
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg">
                <div class="tabs-content">
                    <div class="tab-content" id="myTabContent">
                        @if (!string.IsNullOrEmpty(Model.Text))
                        {
                            <div class="tab-pane fade show active" id="Review" role="tabpanel" aria-labelledby="Review-tab">
                                <h2 class="params-headline">نقد و بررسی اجمالی</h2>
                                <section class="content-expert-summary">
                                    <div class="mask pm-3">
                                        <div class="mask-text">
                                            @Html.Raw(Model.Text)
                                        </div>
                                        <a href="#" class="mask-handler">
                                            <span class="show-more">+ ادامه مطلب</span>
                                            <span class="show-less">- بستن</span>
                                        </a>
                                        <div class="shadow-box"></div>
                                    </div>
                                </section>
                            </div>
                        }
                        <div class="tab-pane fade @(string.IsNullOrEmpty(Model.Text) ? "show active" : "")" id="Specifications" role="tabpanel" aria-labelledby="Specifications-tab">
                            <article>
                                <h2 class="params-headline">
                                    مشخصات فنی
                                    <span>@Model.Title</span>
                                </h2>
                                <section>
                                    <ul class="params-list">


                                        @foreach (var item in ViewBag.Features as List<ProductFeature>)
                                        {
                                            <li class="params-list-item">
                                                <div class="params-list-key">
                                                    <span class="block">@item.Feature.Title</span>
                                                </div>
                                                @if (item.Feature.FeatureType == DataLayer.SSOT.FeatureTypeSSOT.Fssot)
                                                {

                                                    if (@FeatureSSOTValue.Where(x => x.FeatureId == item.FeatureId && x.Id == Convert.ToInt32(item.FeatureValue)).SingleOrDefault() != null)
                                                    {
                                                        <div class="params-list-value">
                                                            <span class="block">
                                                                @FeatureSSOTValue.Where(x => x.FeatureId == item.FeatureId && x.Id == Convert.ToInt32(item.FeatureValue)).SingleOrDefault().Value
                                                            </span>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="params-list-value">
                                                        <span class="block">
                                                            @item.FeatureValue
                                                        </span>
                                                    </div>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


