@model List<DataLayer.Entities.Product>
@using DNTPersianUtils.Core
@using Core.Utilities
@{
    var categorys = ViewBag.Category as List<DataLayer.DTO.ProductGroupDTO>;
    var Search = ViewBag.Searcg as DataLayer.ViewModels.Products.ProductSearchListViewModel;
}

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">پیشنهادات ویژه</li>
                        </ol>
                    </nav>
                </div>


                <div class="col-lg-12 col-md-12 col-xs-12 pl">
                    <div class="shop-archive-content mt-3 d-block">

                        <div class="product-items">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                                    <div class="row">

                                        @foreach (var item in Model)
                                        {
                                            <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                                <section class="product-box product product-type-simple">
                                                    <div class="thumb">
                                                        <a href="/Product/ProductDetail/@item.Id" class="d-block">
                                                            @if (item.Price != item.PriceWithDiscount)
                                                            {
                                                                <div class="promotion-badge">فروش ویژه</div>
                                                                @*<div class="discount-d">
                                                    <span>@((float)(item.Price ) )%</span>
                                                    <span>@((float)(item.PriceWithDiscount) )%</span>
                                                    <span>@((float)((float) item.Price / (float)item.PriceWithDiscount) * 100)%</span>
                                                </div>*@
                                                            }
                                                            <img title="@item.Title" src="http://staffonly.ir/@item.IndexPic">
                                                        </a>
                                                    </div>
                                                    <div class="title">
                                                        <a href="/Product/ProductDetail/@item.Id" title="@item.Title">@item.Title</a>
                                                    </div>
                                                    <div class="price">
                                                        <span class="amount">
                                                            @if (item.Price != item.PriceWithDiscount)
                                                            {
                                                                @item.PriceWithDiscount.ToPersianPrice()
                                                            }
                                                            else
                                                            {
                                                                @item.Price.ToPersianPrice()
                                                            }
                                                            <span>تومان</span>
                                                        </span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="countdown h6" data-date-time="@item.DiscountEndDate" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        }

                                    </div>
                                </div>

                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/_Pagination.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
