@using DataLayer.DTO;
@model List<NewsDTO>
@{
    ViewData["Title"] = "لیست اخبار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">


    <a href="/News/ManageNews/Insert" class="btn btn-lg btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
        ثبت
    </a>

</div>


<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

    <table class="table table-responsive table-striped rounded table-hover table-bordered ">
        <thead>
            <tr>
                <th width="50px">
                    ردیف
                </th>
                <th>عنوان</th>
                <th>خلاصه خبر</th>
                <th>تاریخ</th>
                <th>تعداد بازدید</th>
                <th>اقدام</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>---</td>
                <td><input type="text" value="@ViewBag.SearchModel.Title" name="Title" class="form-control searchInput" /></td>
                <td><input type="text" value="@ViewBag.SearchModel.SummeryNews" name="SummeryNews" class="form-control searchInput" /></td>
                <td><input type="text" value="@(ViewBag.SearchModel.Date != DateTime.MinValue ? ViewBag.SearchModel.Date : "")" name="Date" class="form-control searchInput" /></td>
                <td>---</td>
                <td><input type="submit" class="form-control btn btn-success btn-block searchBtn" value="جستجو" /></td>

            </tr>


            @{var index = 1;}
            @if (Model != null)
            {

                @foreach (NewsDTO item in Model)
                {
                    <tr>
                        <th>@(index++)</th>
                        <td>@item.Title</td>
                        <td>@(item.SummeryNews.Length > 40 ? item.SummeryNews.Substring(0, 40) : item.SummeryNews)</td>
                        <td>@item.Date</td>
                        <td>@item.ViewCount</td>
                        <td>
                            <a data-toggle="tooltip" title="ویرایش" href="/News/ManageNews/Update/@item.Id" data-role="confirm">
                                <i class="fa fa-pencil-square-o text-yellow pe-2x" aria-hidden="true"></i>
                            </a>

                            <a data-toggle="tooltip" title="حذف" href="/News/ManageNews/Delete/@item.Id" data-role="confirm">
                                <i class="fa fa-trash-o text-danger pe-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

    @Html.Partial("~/Views/Shared/_Pagination.cshtml")

</div>
